In [4]:
import pandas as pd
import numpy as np

In [25]:
text = ""
with open("txtSerasa3.txt") as infile:
    for line in infile:
        text += line

In [136]:
def capture_information(line):
    list_factoring_names = ['RNX', 'OPINIAO S/A', 'FIDC']
    line = line.replace('R302','')

    date = pd.to_datetime(line[:8], format = "%Y%m%d")
    name = line[8:-15]
    
    factoring_bool = False
    for factoring_name in list_factoring_names:
        if factoring_name in name:
            factoring_bool = True
            break
    
    return {'date':date,\
            'name':name, \
            'is_factoring':factoring_bool}

In [9]:
def create_df_by_lines(text):
    aux_text = text
    lines = []

    while True:
        index_base = aux_text.find('R252')

        if index_base <= 0:
            break

        index_aux = aux_text[index_base:].find('                          ')

        aux_line = aux_text[index_base:index_base+index_aux]
        aux_text = aux_text[index_base+index_aux:]
        
        lines.append(aux_line)
        
    return lines

In [26]:
aux_text = text
index_base = aux_text.find('R252')

In [38]:
aux.find('0000')

41

In [40]:
aux = aux_text[index_base:]

a_vista = aux[21:41].strip()

'2,5 MIL A 3 MIL'

In [44]:
aux = aux[41:]

In [51]:
aux[11:14]

'250'

In [56]:
aux[26:29]

'300'

In [10]:
df = create_df_by_lines(text)

In [11]:
df

['R252PONTUAL       A14250 A 300           000000000000250000000000000300093000950020200127',
 'R2528-15          A3 5 A 10              000000000000005000000000000010001000030020200127',
 'R25216-30              -                 000000000000000000000000000000000000000020200127',
 'R25231-60         A1 1 A 3               000000000000001000000000000003000400010020200127',
 'R252+60           A3 5 A 10              000000000000005000000000000010001000030020200127',
 'R252A VISTA       A14250 A 300           000000000000250000000000000300000000000020200127']