In [1]:
import pandas as pd
import numpy as np

In [3]:
text = ""
with open("txtLimpo/txtSerasa1.txt") as infile:
    for line in infile:
        text += line

In [4]:
def _capture_information(line):
    
    year = line[:2]
    month = line[2:4]
    month_ = line[4:7]
    qtd = line[8:line.find("000A")]
    
    return {'year':year,\
            'month':month, \
            'searches':qtd}

In [5]:
def create_df_by_text(text):
    aux_text = text
    lines = []

    while True:
        index_base = aux_text.find('R301')

        if index_base <= 0:
            break

        index_aux = aux_text[index_base+4:].find("R301")

        aux_line = aux_text[index_base+4:index_base+index_aux]
        
        if len(aux_line.strip()) <= 0:
            break
            
        aux_text = aux_text[index_base+index_aux:]
        
        lines.append(_capture_information(aux_line))
        
    return pd.DataFrame(lines)

In [6]:
create_df_by_text(text)

   year month searches
0    20    01       00
1    19    12       03
2    19    11       06
3    19    10       06
4    19    09       05
5    19    08       03
6    19    07       04
7    19    06       02
8    19    05       04
9    19    04       02
10   19    03       01
11   19    02       03
12   19    01       07