In [1]:
import pyodbc 
import pandas as pd
import re

from IPython.display import display

In [2]:
df2 = pd.read_excel('Lista positivos.xlsx')

In [3]:
df2 = df2[df2['pesCNPJCPF'].notnull()]
df2['pesCNPJCPF'] = df2['pesCNPJCPF'].apply(lambda x: re.sub('[a-zA-Z]','',str(x)).replace('/','').replace('-','').replace('.','').strip())
df2 = df2[df2['pesCNPJCPF'].notnull()]
df2 = df2[df2['pesCNPJCPF'] != ''].reset_index(drop = True)

In [30]:
df = pd.read_excel('Perdidos Pipedrive.xlsx')
df = df[df['CNPJ'].notnull()]
df['CNPJ'] = df['CNPJ'].apply(lambda x: re.sub('[a-zA-Z]','',str(x)).replace('/','').replace('-','').replace('.','').strip())
df = df[df['CNPJ'].notnull()]
df = df[df['CNPJ'] != ''].reset_index(drop = True)

In [31]:
df

,ID,CNPJ,Título,Criador,Proprietário,Etapa,Negócio criado em,Data atualizada,Última alteração de etapa,Data da Próxima Atividade,Status,Data de perda,Motivo da perda Pipe,Tradução perda,Total de atividades
0,3095,21119281000123,TRIESTE CALÇADOS EIRELE ME,Adriana Cristina da Silveira,Adriana Cristina da Silveira,Visitado,2019-07-16 13:56:34,2019-12-02 12:53:49,2019-08-16 17:59:50,NaT,Perdido,2019-12-02 12:53:48,mudou o nome,Duplicado,4
1,3118,19211781000191,INDUSTRIA DE PALMILHAS NINIVER LTDA,Adriana Cristina da Silveira,Adriana Cristina da Silveira,Documentos Enviados,2019-07-18 17:31:49,2019-10-22 17:01:33,2019-08-16 18:02:10,NaT,Perdido,2019-10-22 17:01:31,Problemas do passado,Problemas recentes,0
2,3342,01978934000165,Negócio Polymer Ind Com Plásticos Ltda,Adriana Cristina da Silveira,Adriana Cristina da Silveira,Cliente em Potencial,2019-09-19 16:03:34,2019-12-02 12:35:16,NaT,NaT,Perdido,2019-12-02 12:35:14,Problemas atuais,Problemas recentes,0
3,3127,82614795000110,Mineração Nova Prata ltda,Bianca Petrocine,Bianca Petrocine,Contratos Assinados,2019-07-21 22:31:25,2020-01-03 17:46:23,2019-10-07 12:55:49,2019-11-29,Perdido,2020-01-03 17:46:23,questões operacionais ; varias notas fiscais e...,Operacional,11
4,3129,30866312000143,Fex Comercio de Ferro Eireli,Bianca Petrocine,Bianca Petrocine,Contatado,2019-07-21 22:51:07,2019-09-24 17:41:50,NaT,NaT,Perdido,2019-09-09 13:02:43,"Não quer operar com dois grandes, optou pela OS.",FIDC parceiros,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,1167,87455432000175,Negócio COOPERATIVA SUL RIOGRANDENSE DE LATICI...,Richard Reinoldi,Richard Reinoldi,Visitado,2017-08-22 20:09:15,2019-09-24 17:41:50,2017-08-22 20:12:35,2017-08-22,Perdido,2018-03-13 12:59:24,Empresa não possuí recebíveis,Não desconta,1
957,1169,73367575000110,Negócio THOMAS K.L. IND DE ALTO FALANTES S/A,Richard Reinoldi,Richard Reinoldi,Visitado,2017-08-22 20:42:43,2019-09-24 17:41:50,2017-08-22 20:43:55,2017-08-22,Perdido,2018-01-04 12:41:14,Não opera com fundos,Somente com Bancos,1
958,1176,03591919000195,Negócio DI CANALLI COM. TRANSP. E EMP. LTDA.,Richard Reinoldi,Richard Reinoldi,Visitado,2017-08-30 16:38:25,2019-09-24 17:41:50,2017-08-30 16:39:30,2017-08-30,Perdido,2018-03-13 13:00:22,Sacados não pagam a terceiros,Comissária,1
959,1178,11619817000169,Negócio FRIGORIFICO SELBACH LTDA.,Richard Reinoldi,Richard Reinoldi,Visitado,2017-08-30 17:30:51,2019-09-24 17:41:50,2017-08-30 17:31:43,2017-08-30,Perdido,2018-03-13 13:00:10,Pouco faturamento,Baixo Faturamento,1
960,1184,88332580000165,AELBRA ASSOCIAÇÃO EDUCACIONAL LUTERANA DO BRASIL,Richard Reinoldi,Richard Reinoldi,Visitado,2017-09-12 17:26:14,2019-09-24 17:41:50,2017-09-12 17:31:04,2017-09-12,Perdido,2018-03-13 13:01:11,Sacados não pagam a terceiros,Comissária,2

In [4]:
cnpjs = df2[df2['pesCNPJCPF'].notnull()]['pesCNPJCPF']

In [5]:
cnpjs = cnpjs.apply(lambda x: re.sub('[a-zA-Z]','',str(x)).replace('/','').replace('-','').replace('.','').strip())

In [6]:
# df[df['CNPJ'].notnull()]['CNPJ']

In [7]:
cnpjs = cnpjs[cnpjs!=''].reset_index(drop = True)

In [15]:
cnpjs

0        121831000111
1        214242000188
2        428199000153
3        598913000151
4        610224000115
            ...
240    93899359000123
241    94385523000147
242    94576196000100
243    94638392000162
244    96240114000188
Name: pesCNPJCPF, Length: 245, dtype: object

In [9]:
def get_connection():
    server = 'serversql' 
    database = 'netfactor' 
    username = 'sa' 
    password = 'Klit@atf#202o' 
    cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
    return cnxn

In [ ]:
dfl = []  

for i in cnpjs:
    sql = '''SELECT SConsCnpjCpf,SConsData, SCaminhoArquivo, retLinhaSerasa
    FROM nfConsultaSerasa 
    WHERE SConsCnpjCpf = '{}' '''.format(i)
    
    try:
        df_aux = pd.read_sql(sql, get_connection())
        display(df_aux)
        dfl.append(df_aux)
    except:
        print('X - ',i)

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

X -  1326621000122

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

Empty DataFrame
Columns: [SConsCnpjCpf, SConsData, SCaminhoArquivo, retLinhaSerasa]
Index: []

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,10289232000165,2016-11-30,SERASA-R1902561.txt,None
1,10289232000165,2019-11-18,SERASA-R1902562.txt,None
2,10289232000165,2020-06-09,None,B49C 010289232000165JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,10297237000130,2019-11-01,SERASA-R12443851.txt,None
1,10297237000130,2020-05-14,None,B49C 010297237000130JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,10467099000190,2016-06-14,SERASA-R1415101.txt,None
1,10467099000190,2018-09-28,SERASA-R1415102.txt,None
2,10467099000190,2019-03-26,SERASA-R1415103.txt,None
3,10467099000190,2019-11-18,SERASA-R1415104.txt,None
4,10467099000190,2020-06-09,None,B49C 010467099000190JC OO0000200 ...
5,10467099000190,2021-04-13,None,B49C 010467099000190JC OO0000200 ...

     SConsCnpjCpf  SConsData      SCaminhoArquivo retLinhaSerasa
0  10542288000180 2017-03-14  SERASA-R1970991.txt           None
1  10542288000180 2017-03-14  SERASA-R1970992.txt           None
2  10542288000180 2017-07-05  SERASA-R1970993.txt           None
3  10542288000180 2019-06-05  SERASA-R1970994.txt           None
4  10542288000180 2019-07-03  SERASA-R1970995.txt           None
5  10542288000180 2019-08-02  SERASA-R1970996.txt           None
6  10542288000180 2019-08-21  SERASA-R1970997.txt           None
7  10542288000180 2019-10-01  SERASA-R1970998.txt           None
8  10542288000180 2019-11-27  SERASA-R1970999.txt           None

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,10619557000169,2015-03-25,SERASA-R1569921.txt,None
1,10619557000169,2015-08-13,SERASA-R1569922.txt,None
2,10619557000169,2015-10-30,SERASA-R1569923.txt,None
3,10619557000169,2017-03-01,SERASA-R1569924.txt,None
4,10619557000169,2017-06-02,SERASA-R1569925.txt,None
5,10619557000169,2017-07-31,SERASA-R1569926.txt,None
6,10619557000169,2018-06-06,SERASA-R1569927.txt,None
7,10619557000169,2018-09-20,SERASA-R1569928.txt,None
8,10619557000169,2019-01-08,SERASA-R1569929.txt,None
9,10619557000169,2019-04-26,SERASA-R15699210.txt,None
10,10619557000169,2019-05-14,SERASA-R15699211.txt,None
11,10619557000169,2019-07-03,SERASA-R15699212.txt,None
12,10619557000169,2020-05-20,None,B49C 010619557000169JC OO0000200 ...
13,10619557000169,2020-07-03,None,B49C 010619557000169JC OO0000200 ...
14,10619557000169,2020-10-22,None,B49C 010619557000169JC OO0000200 ...

     SConsCnpjCpf  SConsData     SCaminhoArquivo retLinhaSerasa
0  10625640000140 2009-03-31  SERASA-R790861.txt           None
1  10625640000140 2019-03-11  SERASA-R790862.txt           None
2  10625640000140 2019-03-28  SERASA-R790863.txt           None

X -  10835909000113
X -  10915616000146
X -  11131609000116
X -  11131609000205
X -  11158271000196
X -  11292670000145
X -  11476696000224
X -  12049403000104
X -  12310970000172
X -  12410331000189
X -  12995199000114
X -  13179127000161
X -  13911740000393
X -  13937327000136
X -  14045631000131
X -  14166249000186
X -  14396422000132
X -  14507895000160

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,14734133000104,2019-11-22,SERASA-R12459861.txt,None
1,14734133000104,2019-12-06,SERASA-R12459862.txt,None
2,14734133000104,2020-01-09,None,B49C 014734133000104JC OO0000200 ...
3,14734133000104,2020-01-31,None,B49C 014734133000104JC OO0000200 ...
4,14734133000104,2020-03-05,None,B49C 014734133000104JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,14790204000188,2017-08-31,SERASA-R2121541.txt,None
1,14790204000188,2017-09-05,SERASA-R2121542.txt,None
2,14790204000188,2017-10-03,SERASA-R2121543.txt,None
3,14790204000188,2017-10-24,SERASA-R2121544.txt,None
4,14790204000188,2017-11-21,SERASA-R2121545.txt,None
5,14790204000188,2017-12-26,SERASA-R2121546.txt,None
6,14790204000188,2018-02-19,SERASA-R2121547.txt,None
7,14790204000188,2018-04-06,SERASA-R2121548.txt,None
8,14790204000188,2018-04-26,SERASA-R2121549.txt,None
9,14790204000188,2018-06-29,SERASA-R21215410.txt,None
10,14790204000188,2018-08-17,SERASA-R21215411.txt,None
11,14790204000188,2018-10-11,SERASA-R21215412.txt,None
12,14790204000188,2018-11-14,SERASA-R21215413.txt,None
13,14790204000188,2019-02-15,SERASA-R21215414.txt,None
14,14790204000188,2019-05-02,SERASA-R21215415.txt,None
15,14790204000188,2019-05-15,SERASA-R21215416.txt,None
16,14790204000188,2019-09-12,SERASA-R21215417.txt,None
17,14790204000188,2019-11-14,SERASA-R21215418.txt,None
18,14790204000188,2019-12-13,SERASA-R21215419.txt,None
19,14790204000188,2020-02-13,None,B49C 014790204000188JC OO0000200 ...
20,14790204000188,2020-03-16,None,B49C 014790204000188JC OO0000200 ...
21,14790204000188,2020-05-15,None,B49C 014790204000188JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,15077221000135,2018-08-06,SERASA-R12168941.txt,None
1,15077221000135,2019-07-24,SERASA-R12168942.txt,None
2,15077221000135,2019-08-19,SERASA-R12168943.txt,None
3,15077221000135,2019-10-07,SERASA-R12168944.txt,None
4,15077221000135,2019-11-04,SERASA-R12168945.txt,None
5,15077221000135,2019-11-28,SERASA-R12168946.txt,None
6,15077221000135,2019-12-23,SERASA-R12168947.txt,None
7,15077221000135,2020-03-17,None,B49C 015077221000135JC OO0000200 ...
8,15077221000135,2020-06-22,None,B49C 015077221000135JC OO0000200 ...
9,15077221000135,2020-08-25,None,B49C 015077221000135JC OO0000200 ...
10,15077221000135,2020-09-01,None,B49C 015077221000135JC OO0000200 ...
11,15077221000135,2020-09-18,None,B49C 015077221000135JC OO0000200 ...
12,15077221000135,2020-11-05,None,B49C 015077221000135JC OO0000200 ...
13,15077221000135,2020-11-24,None,B49C 015077221000135JC OO0000200 ...
14,15077221000135,2021-02-10,None,B49C 015077221000135JC OO0000200 ...
15,15077221000135,2021-02-26,None,B49C 015077221000135JC OO0000200 ...
16,15077221000135,2021-04-15,None,B49C 015077221000135JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,15427015000108,2015-05-11,SERASA-R1573281.txt,None
1,15427015000108,2015-05-11,SERASA-R1573282.txt,None
2,15427015000108,2016-03-31,SERASA-R1573283.txt,None
3,15427015000108,2016-04-01,SERASA-R1573284.txt,None
4,15427015000108,2016-05-18,SERASA-R1573285.txt,None
5,15427015000108,2016-11-18,SERASA-R1573286.txt,None
6,15427015000108,2017-03-16,SERASA-R1573287.txt,None
7,15427015000108,2017-07-14,SERASA-R1573288.txt,None
8,15427015000108,2017-07-26,SERASA-R1573289.txt,None
9,15427015000108,2017-08-04,SERASA-R15732810.txt,None
10,15427015000108,2017-09-19,SERASA-R15732811.txt,None
11,15427015000108,2017-10-04,SERASA-R15732812.txt,None
12,15427015000108,2018-04-11,SERASA-R15732813.txt,None
13,15427015000108,2019-02-05,SERASA-R15732814.txt,None
14,15427015000108,2019-04-03,SERASA-R15732815.txt,None
15,15427015000108,2019-06-05,SERASA-R15732816.txt,None
16,15427015000108,2019-07-01,SERASA-R15732817.txt,None
17,15427015000108,2019-09-23,SERASA-R15732818.txt,None
18,15427015000108,2019-12-18,SERASA-R15732819.txt,None
19,15427015000108,2020-01-29,None,B49C 015427015000108JC OO0000200 ...

X -  15584095000105

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,15644488000167,2016-07-06,SERASA-R1792201.txt,None
1,15644488000167,2016-10-26,SERASA-R1792202.txt,None
2,15644488000167,2017-08-24,SERASA-R1792203.txt,None
3,15644488000167,2018-01-22,SERASA-R1792204.txt,None
4,15644488000167,2018-02-22,SERASA-R1792205.txt,None
5,15644488000167,2018-03-14,SERASA-R1792206.txt,None
6,15644488000167,2018-03-14,SERASA-R1792207.txt,None
7,15644488000167,2018-08-27,SERASA-R1792208.txt,None
8,15644488000167,2019-03-11,SERASA-R1792209.txt,None
9,15644488000167,2019-05-03,SERASA-R17922010.txt,None
10,15644488000167,2019-05-13,SERASA-R17922011.txt,None
11,15644488000167,2019-05-31,SERASA-R17922012.txt,None
12,15644488000167,2019-07-16,SERASA-R17922013.txt,None
13,15644488000167,2019-08-16,SERASA-R17922014.txt,None
14,15644488000167,2019-09-05,SERASA-R17922015.txt,None
15,15644488000167,2019-10-01,SERASA-R17922016.txt,None
16,15644488000167,2019-11-04,SERASA-R17922017.txt,None
17,15644488000167,2019-12-11,SERASA-R17922018.txt,None
18,15644488000167,2020-01-15,None,B49C 015644488000167JC OO0000200 ...
19,15644488000167,2020-03-09,None,B49C 015644488000167JC OO0000200 ...
20,15644488000167,2020-03-23,None,B49C 015644488000167JC OO0000200 ...
21,15644488000167,2020-06-25,None,B49C 015644488000167JC OO0000200 ...
22,15644488000167,2020-11-25,None,B49C 015644488000167JC OO0000200 ...
23,15644488000167,2020-11-25,None,B49C 015644488000167JC OO0000200 ...
24,15644488000167,2020-12-21,None,B49C 015644488000167JC OO0000200 ...
25,15644488000167,2021-04-14,None,B49C 015644488000167JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,16456256000148,2019-04-12,SERASA-R12306511.txt,None
1,16456256000148,2019-08-19,SERASA-R12306512.txt,None
2,16456256000148,2019-11-04,SERASA-R12306513.txt,None
3,16456256000148,2019-12-17,SERASA-R12306514.txt,None
4,16456256000148,2020-06-09,None,B49C 016456256000148JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,17609531000189,2021-03-10,None,B49C 017609531000189JC OO0000200 ...
1,17609531000189,2021-03-26,None,B49C 017609531000189JC OO0000200 ...
2,17609531000189,2021-04-15,None,B49C 017609531000189JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,17640410000108,2018-08-20,SERASA-R12177811.txt,None
1,17640410000108,2018-09-20,SERASA-R12177812.txt,None
2,17640410000108,2018-10-22,SERASA-R12177813.txt,None
3,17640410000108,2018-11-12,SERASA-R12177814.txt,None
4,17640410000108,2018-12-07,SERASA-R12177815.txt,None
5,17640410000108,2018-12-24,SERASA-R12177816.txt,None
6,17640410000108,2019-01-22,SERASA-R12177817.txt,None
7,17640410000108,2019-02-08,SERASA-R12177818.txt,None
8,17640410000108,2019-02-27,SERASA-R12177819.txt,None
9,17640410000108,2019-03-27,SERASA-R121778110.txt,None
10,17640410000108,2019-04-25,SERASA-R121778111.txt,None
11,17640410000108,2019-05-20,SERASA-R121778112.txt,None
12,17640410000108,2019-06-10,SERASA-R121778113.txt,None
13,17640410000108,2019-07-03,SERASA-R121778114.txt,None
14,17640410000108,2019-07-12,SERASA-R121778115.txt,None
15,17640410000108,2019-09-25,SERASA-R121778116.txt,None
16,17640410000108,2019-11-05,SERASA-R121778117.txt,None
17,17640410000108,2019-12-02,SERASA-R121778118.txt,None
18,17640410000108,2019-12-12,SERASA-R121778119.txt,None
19,17640410000108,2020-01-07,None,B49C 017640410000108JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,17790006000102,2015-06-02,SERASA-R1606421.txt,None
1,17790006000102,2019-10-11,SERASA-R1606422.txt,None
2,17790006000102,2019-10-21,SERASA-R1606423.txt,None
3,17790006000102,2019-11-04,SERASA-R1606424.txt,None
4,17790006000102,2019-12-02,SERASA-R1606425.txt,None
5,17790006000102,2019-12-27,SERASA-R1606426.txt,None
6,17790006000102,2020-05-26,None,B49C 017790006000102JC OO0000200 ...
7,17790006000102,2020-07-08,None,B49C 017790006000102JC OO0000200 ...
8,17790006000102,2020-08-04,None,B49C 017790006000102JC OO0000200 ...
9,17790006000102,2020-09-23,None,B49C 017790006000102JC OO0000200 ...
10,17790006000102,2020-12-18,None,B49C 017790006000102JC OO0000200 ...
11,17790006000102,2021-01-07,None,B49C 017790006000102JC OO0000200 ...
12,17790006000102,2021-01-29,None,B49C 017790006000102JC OO0000200 ...
13,17790006000102,2021-02-19,None,B49C 017790006000102JC OO0000200 ...
14,17790006000102,2021-03-31,None,B49C 017790006000102JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,17869614000107,2018-11-20,SERASA-R12233721.txt,None
1,17869614000107,2019-07-31,SERASA-R12233722.txt,None
2,17869614000107,2019-10-24,SERASA-R12233723.txt,None
3,17869614000107,2020-02-28,None,B49C 017869614000107JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,17895542000172,2018-04-05,SERASA-R2281111.txt,None
1,17895542000172,2019-09-18,SERASA-R2281112.txt,None
2,17895542000172,2019-10-30,SERASA-R2281113.txt,None
3,17895542000172,2020-06-17,None,B49C 017895542000172JC OO0000200 ...
4,17895542000172,2020-08-05,None,B49C 017895542000172JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,17960315000183,2015-09-16,SERASA-R1651781.txt,None
1,17960315000183,2016-08-23,SERASA-R1651782.txt,None
2,17960315000183,2017-07-18,SERASA-R1651783.txt,None
3,17960315000183,2017-08-21,SERASA-R1651784.txt,None
4,17960315000183,2017-09-18,SERASA-R1651785.txt,None
5,17960315000183,2018-03-21,SERASA-R1651786.txt,None
6,17960315000183,2018-10-18,SERASA-R1651787.txt,None
7,17960315000183,2019-10-02,SERASA-R1651788.txt,None
8,17960315000183,2019-11-04,SERASA-R1651789.txt,None
9,17960315000183,2019-11-27,SERASA-R16517810.txt,None
10,17960315000183,2019-12-23,SERASA-R16517811.txt,None
11,17960315000183,2020-03-10,None,B49C 017960315000183JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,18019813000199,2017-11-23,SERASA-R2201801.txt,None
1,18019813000199,2018-05-11,SERASA-R2201802.txt,None
2,18019813000199,2018-10-26,SERASA-R2201803.txt,None
3,18019813000199,2019-04-04,SERASA-R2201804.txt,None
4,18019813000199,2020-07-30,None,B49C 018019813000199JC OO0000200 ...
5,18019813000199,2020-09-16,None,B49C 018019813000199JC OO0000200 ...

     SConsCnpjCpf  SConsData      SCaminhoArquivo retLinhaSerasa
0  18252362000135 2015-08-25  SERASA-R1640951.txt           None
1  18252362000135 2019-07-03  SERASA-R1640952.txt           None
2  18252362000135 2019-09-06  SERASA-R1640953.txt           None
3  18252362000135 2019-10-09  SERASA-R1640954.txt           None
4  18252362000135 2019-11-29  SERASA-R1640955.txt           None

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,18484571000104,2020-12-15,None,B49C 018484571000104JC OO0000200 ...
1,18484571000104,2021-01-20,None,B49C 018484571000104JC OO0000200 ...
2,18484571000104,2021-02-12,None,B49C 018484571000104JC OO0000200 ...
3,18484571000104,2021-04-12,None,B49C 018484571000104JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,18705246000124,2018-01-18,SERASA-R2214431.txt,None
1,18705246000124,2018-02-07,SERASA-R2214432.txt,None
2,18705246000124,2018-03-06,SERASA-R2214433.txt,None
3,18705246000124,2018-04-06,SERASA-R2214434.txt,None
4,18705246000124,2018-05-09,SERASA-R2214435.txt,None
5,18705246000124,2018-07-25,SERASA-R2214436.txt,None
6,18705246000124,2018-11-26,SERASA-R2214437.txt,None
7,18705246000124,2018-12-17,SERASA-R2214438.txt,None
8,18705246000124,2019-01-24,SERASA-R2214439.txt,None
9,18705246000124,2019-02-13,SERASA-R22144310.txt,None
10,18705246000124,2019-02-26,SERASA-R22144311.txt,None
11,18705246000124,2019-03-14,SERASA-R22144312.txt,None
12,18705246000124,2019-03-22,SERASA-R22144313.txt,None
13,18705246000124,2019-04-24,SERASA-R22144314.txt,None
14,18705246000124,2019-04-30,SERASA-R22144315.txt,None
15,18705246000124,2019-05-14,SERASA-R22144316.txt,None
16,18705246000124,2019-07-04,SERASA-R22144317.txt,None
17,18705246000124,2019-07-24,SERASA-R22144318.txt,None
18,18705246000124,2019-08-19,SERASA-R22144319.txt,None
19,18705246000124,2019-09-16,SERASA-R22144320.txt,None
20,18705246000124,2019-10-28,SERASA-R22144321.txt,None
21,18705246000124,2019-11-07,SERASA-R22144322.txt,None
22,18705246000124,2019-11-19,SERASA-R22144323.txt,None
23,18705246000124,2019-12-12,SERASA-R22144324.txt,None
24,18705246000124,2019-12-19,SERASA-R22144325.txt,None
25,18705246000124,2020-01-30,None,B49C 018705246000124JC OO0000200 ...
26,18705246000124,2020-07-30,None,B49C 018705246000477JC OO0000200 ...
27,18705246000124,2020-10-23,None,B49C 018705246000124JC OO0000200 ...
28,18705246000124,2021-01-18,None,B49C 018705246000124JC OO0000200 ...
29,18705246000124,2021-02-19,None,B49C 018705246000124JC OO0000200 ...
30,18705246000124,2021-04-13,None,B49C 018705246000124JC OO0000200 ...

X -  18816410000170
X -  19753917000195
X -  19950594000120
X -  20302686000182
X -  20350624000146
X -  20803918000186
X -  21619594000193
X -  21881534000144
X -  22506376000105
X -  22779084000146
X -  22809620000109
X -  23729370000160
X -  23827651000155
X -  23858557000163
X -  23861534000108
X -  24718094000105
X -  26124482000185
X -  26575903000194
X -  26626385000190
X -  27234494000125
X -  27875823000117
X -  28480268000197
X -  29218102000160
X -  29346301000153
X -  29347464000150
X -  29387740000104
X -  29517178000196
X -  29542851000148
X -  30117728000169
X -  30270155000109
X -  30697781000186
X -  30950622000141
X -  31228836000171
X -  32256341000119
X -  32804293000156
X -  33489210000144
X -  33686920000164
X -  33812969000116
X -  35222724000164
X -  44699346000103
X -  50053602000185
X -  50611433000151
X -  55847057000112
X -  57885220000167
X -  58503186000181
X -  61365151000138
X -  72020118000192
X -  72346232000107
X -  73019507000160
X -  73253908000180
X -  73586976000161
X -  74068552000178
X -  75014258000227
X -  75243220000145
X -  75341800000175
X -  75394502000143
X -  75456764000195
X -  76487651000110
X -  76531581000150
X -  77063824000135
X -  77171106000182

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,78099777000142,2013-04-23,SERASA-R1146801.txt,None
1,78099777000142,2018-10-01,SERASA-R1146802.txt,None
2,78099777000142,2019-01-31,SERASA-R1146803.txt,None
3,78099777000142,2020-04-16,None,B49C 078099777000142JC OO0000200 ...
4,78099777000142,2020-05-29,None,B49C 078099777000142JC OO0000200 ...
5,78099777000142,2020-06-09,None,B49C 078099777000142JC OO0000200 ...
6,78099777000142,2020-08-10,None,B49C 078099777000142JC OO0000200 ...
7,78099777000142,2020-09-14,None,B49C 078099777000142JC OO0000200 ...
8,78099777000142,2020-10-13,None,B49C 078099777000142JC OO0000200 ...
9,78099777000142,2020-10-30,None,B49C 078099777000142JC OO0000200 ...
10,78099777000142,2020-11-16,None,B49C 078099777000142JC OO0000200 ...
11,78099777000142,2021-01-26,None,B49C 078099777000142JC OO0000200 ...

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,79448676000100,2019-01-25,SERASA-R12263961.txt,None
1,79448676000100,2019-06-14,SERASA-R12263962.txt,None
2,79448676000100,2019-08-15,SERASA-R12263963.txt,None
3,79448676000100,2019-10-09,SERASA-R12263964.txt,None
4,79448676000100,2019-11-18,SERASA-R12263965.txt,None
5,79448676000100,2020-03-31,None,B49C 079448676000100JC OO0000200 ...
6,79448676000100,2020-05-27,None,B49C 079448676000100JC OO0000200 ...
7,79448676000100,2020-07-06,None,B49C 079448676000100JC OO0000200 ...
8,79448676000100,2020-09-08,None,B49C 079448676000100JC OO0000200 ...

In [18]:
for cnpj in cnpjs[1:]:
    sql = sql+ " or  SConsCnpjCpf = '{}'" .format(cnpj)

In [13]:

result = pd.read_sql(sql, get_connection())

In [16]:
result

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,94638392000162,2016-05-19,SERASA-R425571.txt,None
1,94638392000162,2017-10-13,SERASA-R425572.txt,None
2,94638392000162,2017-12-13,SERASA-R425573.txt,None
3,94638392000162,2018-01-18,SERASA-R425574.txt,None
4,94638392000162,2018-02-07,SERASA-R425575.txt,None
5,94638392000162,2018-03-06,SERASA-R425576.txt,None
6,94638392000162,2018-05-09,SERASA-R425577.txt,None
7,94638392000162,2018-07-25,SERASA-R425578.txt,None
8,94638392000162,2018-11-26,SERASA-R425579.txt,None
9,94638392000162,2018-12-06,SERASA-R4255710.txt,None
10,94638392000162,2019-01-24,SERASA-R4255711.txt,None
11,94638392000162,2019-02-26,SERASA-R4255712.txt,None
12,94638392000162,2019-03-14,SERASA-R4255713.txt,None
13,94638392000162,2019-04-24,SERASA-R4255714.txt,None
14,94638392000162,2019-04-30,SERASA-R4255715.txt,None
15,94638392000162,2019-07-04,SERASA-R4255716.txt,None
16,94638392000162,2019-07-24,SERASA-R4255717.txt,None
17,94638392000162,2019-09-16,SERASA-R4255718.txt,None
18,94638392000162,2019-10-28,SERASA-R4255719.txt,None
19,94638392000162,2019-11-19,SERASA-R4255720.txt,None
20,94638392000162,2019-12-12,SERASA-R4255721.txt,None
21,94638392000162,2020-12-23,None,B49C 094638392000162JC OO0000200 ...
22,94638392000162,2021-02-23,None,B49C 094638392000162JC OO0000200 ...
23,94638392000162,2021-04-22,None,B49C 094638392000162JC OO0000200 ...

In [ ]:
df = pd.DataFrame()

In [ ]:
# Create empty list
dfl = []  

# Create empty dataframe
dfs = pd.DataFrame()  

# Start Chunking
for chunk in pd.read_sql(sql, get_connection(), chunksize = 90):

    # Start Appending Data Chunks from SQL Result set into List
    dfl.append(chunk)
    display(dfl)

# Start appending data from list to dataframe
dfs = pd.concat(dfl, ignore_index=True)

In [21]:
dfs = pd.concat(dfl, ignore_index=True)

In [24]:
dfs.groupby('SConsCnpjCpf').first()

,SConsData,SCaminhoArquivo,retLinhaSerasa
SConsCnpjCpf,,,
00056633000111,2015-08-20,SERASA-R1393931.txt,None
00061315000149,2020-01-30,None,B49C 000061315000149JC OO0000200 ...
00087731000116,2018-09-13,SERASA-R12193941.txt,None
00101599000150,2017-11-21,SERASA-R2200221.txt,None
00126674000137,2019-05-16,SERASA-R12322061.txt,None
...,...,...,...
95806675000139,2019-01-23,SERASA-R12261131.txt,None
95813382000189,2016-07-11,SERASA-R1794911.txt,None
95816963000174,2011-08-31,SERASA-R1059031.txt,None
95858452000115,2018-10-29,SERASA-R12221431.txt,None
96551445000139,2008-11-24,SERASA-R94251.txt,None

In [34]:
dfs

        SConsCnpjCpf  SConsData       SCaminhoArquivo retLinhaSerasa
0     83602896000106 2012-02-17   SERASA-R1137682.txt           None
1     91271718000178 2012-06-27   SERASA-R4179410.txt           None
2     91271718000178 2012-11-12   SERASA-R4179411.txt           None
3     91271718000178 2013-01-15   SERASA-R4179412.txt           None
4     91271718000178 2014-07-23   SERASA-R4179413.txt           None
...              ...        ...                   ...            ...
3775  91271718000178 2019-07-05   SERASA-R4179419.txt           None
3776  91271718000178 2019-08-06   SERASA-R4179420.txt           None
3777  10334206000101 2019-06-17  SERASA-R12337401.txt           None
3778  83284158000168 2019-04-15  SERASA-R12307121.txt           None
3779  01322816000102 2019-04-15  SERASA-R12307141.txt           None

[3780 rows x 4 columns]

In [39]:
df['Data de perda']

0     2019-12-02 12:53:48
1     2019-10-22 17:01:31
2     2019-12-02 12:35:14
3     2020-01-03 17:46:23
4     2019-09-09 13:02:43
              ...
956   2018-03-13 12:59:24
957   2018-01-04 12:41:14
958   2018-03-13 13:00:22
959   2018-03-13 13:00:10
960   2018-03-13 13:01:11
Name: Data de perda, Length: 961, dtype: datetime64[ns]

In [40]:
df = df[['CNPJ','Tradução perda', 'Data de perda']]

In [42]:
df_final = dfs.merge(df, left_on = 'SConsCnpjCpf', right_on = 'CNPJ', how = 'left')

In [51]:
def compare_data(line):
    d1 = line['SConsData']
    d2 = line['Data de perda']
    
    if d2>d1:
        return abs((d2-d1).days)
    else:
        return abs((d1-d2).days)

df_final['Dif_Days'] = df_final.apply(compare_data, axis = 1)

In [60]:
df_final_2 = df_final.groupby('CNPJ')[['Dif_Days']].min().reset_index()

In [67]:
df_final_3 = df_final_2.merge(df_final, on = ['CNPJ','Dif_Days'],  how = 'left')

In [72]:
df_final_3 = df_final_3.groupby('CNPJ').first()

In [73]:
df_final_3

,Dif_Days,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa,Tradução perda,Data de perda
CNPJ,,,,,,,
00056633000111,170,00056633000111,2019-01-15,SERASA-R13939315.txt,None,Somente com Bancos,2019-07-04 14:46:34
00061315000149,133,00061315000149,2020-01-30,None,B49C 000061315000149JC OO0000200 ...,Duplicado,2019-09-18 14:57:20
00087731000116,5,00087731000116,2019-06-06,SERASA-R12193942.txt,None,Capitalizado,2019-06-11 17:18:19
00101599000150,14,00101599000150,2019-04-18,SERASA-R2200224.txt,None,FIDC parceiros,2019-05-02 14:21:31
00126674000137,1,00126674000137,2019-05-16,SERASA-R12322061.txt,None,Capitalizado,2019-05-17 17:24:42
...,...,...,...,...,...,...,...
95806675000139,14,95806675000139,2019-01-23,SERASA-R12261131.txt,None,Capitalizado,2019-02-06 12:41:48
95813382000189,63,95813382000189,2018-03-27,SERASA-R1794913.txt,None,Capitalizado,2018-05-29 22:25:35
95816963000174,79,95816963000174,2018-09-06,SERASA-R1059037.txt,None,Fomento,2018-06-18 14:07:39
95858452000115,15,95858452000115,2018-10-29,SERASA-R12221431.txt,None,Fora do perfil,2018-11-13 12:47:10
96551445000139,51,96551445000139,2018-05-29,SERASA-R94255.txt,None,Baixo Faturamento,2018-07-19 12:00:17

In [74]:
Y = ['Capitalizado','Custo Baixo e Sem Coobrigação', 'Custo Baixo','Falta Documentação', 'FIDC parceiros', 'Localidade', 'Não conseguimos Contato', 'Não enviou documentos', 'Não trabalham com FIDC', 'Problemas recentes']

In [76]:
df_final_3['Resultado'] = 0
df_final_3.loc[df_final_3['Tradução perda'].isin(Y), 'Resultado'] = 1

In [78]:
df_final_3['Resultado'].value_counts()

1    488
0    316
Name: Resultado, dtype: int64

In [80]:
df_final_3.to_csv('Base_Treino.csv')

In [82]:
df_final_3[df_final_3['SCaminhoArquivo'].isnull()]

,Dif_Days,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa,Tradução perda,Data de perda,Resultado
CNPJ,,,,,,,,
00061315000149,133,00061315000149,2020-01-30,None,B49C 000061315000149JC OO0000200 ...,Duplicado,2019-09-18 14:57:20,0
00863529000139,70,00863529000139,2020-02-07,None,B49C 000863529000139JC OO0000200 ...,Fomento,2019-11-28 18:20:59,0
01314776000149,53,01314776000149,2020-01-28,None,B49C 001314776000149JC OO0000200 ...,FIDC parceiros,2019-12-05 12:10:41,1

In [83]:
df_final_3

,Dif_Days,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa,Tradução perda,Data de perda,Resultado
CNPJ,,,,,,,,
00056633000111,170,00056633000111,2019-01-15,SERASA-R13939315.txt,None,Somente com Bancos,2019-07-04 14:46:34,0
00061315000149,133,00061315000149,2020-01-30,None,B49C 000061315000149JC OO0000200 ...,Duplicado,2019-09-18 14:57:20,0
00087731000116,5,00087731000116,2019-06-06,SERASA-R12193942.txt,None,Capitalizado,2019-06-11 17:18:19,1
00101599000150,14,00101599000150,2019-04-18,SERASA-R2200224.txt,None,FIDC parceiros,2019-05-02 14:21:31,1
00126674000137,1,00126674000137,2019-05-16,SERASA-R12322061.txt,None,Capitalizado,2019-05-17 17:24:42,1
...,...,...,...,...,...,...,...,...
95806675000139,14,95806675000139,2019-01-23,SERASA-R12261131.txt,None,Capitalizado,2019-02-06 12:41:48,1
95813382000189,63,95813382000189,2018-03-27,SERASA-R1794913.txt,None,Capitalizado,2018-05-29 22:25:35,1
95816963000174,79,95816963000174,2018-09-06,SERASA-R1059037.txt,None,Fomento,2018-06-18 14:07:39,0
95858452000115,15,95858452000115,2018-10-29,SERASA-R12221431.txt,None,Fora do perfil,2018-11-13 12:47:10,0
96551445000139,51,96551445000139,2018-05-29,SERASA-R94255.txt,None,Baixo Faturamento,2018-07-19 12:00:17,0

In [86]:
import os 
files = os.listdir('serasa')

In [89]:
files = df_final_3[df_final_3['SCaminhoArquivo'].isin(files)]['SCaminhoArquivo']

In [92]:
files[0]

'SERASA-R13939315.txt'

In [94]:
import shutil

for f in files:
    

    original = r'serasa/'+f
    target = r'DataBase/'+f

    shutil.move(original,target)

In [95]:
df_final_3

,Dif_Days,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa,Tradução perda,Data de perda,Resultado
CNPJ,,,,,,,,
00056633000111,170,00056633000111,2019-01-15,SERASA-R13939315.txt,None,Somente com Bancos,2019-07-04 14:46:34,0
00061315000149,133,00061315000149,2020-01-30,None,B49C 000061315000149JC OO0000200 ...,Duplicado,2019-09-18 14:57:20,0
00087731000116,5,00087731000116,2019-06-06,SERASA-R12193942.txt,None,Capitalizado,2019-06-11 17:18:19,1
00101599000150,14,00101599000150,2019-04-18,SERASA-R2200224.txt,None,FIDC parceiros,2019-05-02 14:21:31,1
00126674000137,1,00126674000137,2019-05-16,SERASA-R12322061.txt,None,Capitalizado,2019-05-17 17:24:42,1
...,...,...,...,...,...,...,...,...
95806675000139,14,95806675000139,2019-01-23,SERASA-R12261131.txt,None,Capitalizado,2019-02-06 12:41:48,1
95813382000189,63,95813382000189,2018-03-27,SERASA-R1794913.txt,None,Capitalizado,2018-05-29 22:25:35,1
95816963000174,79,95816963000174,2018-09-06,SERASA-R1059037.txt,None,Fomento,2018-06-18 14:07:39,0
95858452000115,15,95858452000115,2018-10-29,SERASA-R12221431.txt,None,Fora do perfil,2018-11-13 12:47:10,0
96551445000139,51,96551445000139,2018-05-29,SERASA-R94255.txt,None,Baixo Faturamento,2018-07-19 12:00:17,0

In [110]:
df_r = pd.read_excel('Cases.xlsx', index_col = 0, skiprows = 1).reset_index(drop = True)

In [113]:
df_r['Tipo'] = df_r['Tipo'].replace({'Sucesso':1, 'Insucesso':0})

In [116]:
df_r = df_r[['txt', 'Tipo']]

In [121]:
df_v = df_final_3[df_final_3['retLinhaSerasa'].isnull()][['SCaminhoArquivo','Resultado']].reset_index(drop = True)

In [123]:
df_v.columns = ['txt_file', 'result']
df_r.columns = ['txt_file', 'result']

In [125]:
df_base_resultado = pd.concat([df_v,df_r])

In [126]:
df_base_resultado.to_csv('Resultados.csv')

In [22]:
sql = '''SELECT SConsCnpjCpf,SConsData, SCaminhoArquivo, retLinhaSerasa
FROM nfConsultaSerasa 
WHERE SConsCnpjCpf = '{}';'''

In [ ]:
resultado = {}
txt_puro = set()

cnx = get_connection()
for cnpj in cnpjs:
    flag = True
    i = 1 
    try:
        resultado[cnpj] = result = pd.read_sql(sql.format(cnpj), cnx)
        print(cnpj, ' -> ', len(result))
        flag = False
    except:
        txt_puro.add(cnpj)
        i+=1
        pass

21119281000123  ->  0
19211781000191  ->  0
01978934000165  ->  10
82614795000110  ->  0
30866312000143  ->  0
06337280000457  ->  0
76102839000100  ->  0
10363237000190  ->  0
80391956000109  ->  1
05885677000178  ->  0
82601345000246  ->  0
15142831000175  ->  0
02147467000194  ->  1
03260359000196  ->  5
09512705000162  ->  0
00220359000174  ->  0
85486728000128  ->  0
17322957000157  ->  4
07813191000150  ->  0
04286427000159  ->  0
06137625000186  ->  0
02440194000171  ->  0
80331358000306  ->  0
02584707000118  ->  0
15659566000105  ->  0
24824311000186  ->  0
14069148000197  ->  5
76492131000103  ->  1
16988547000187  ->  0
01409892000141  ->  0
03884666000148  ->  0
01956679000150  ->  1
08765099000124  ->  0
28720533000167  ->  0
82056185000110  ->  8
85128981000100  ->  1

In [ ]:
cnx = get_connection()
for cnpj in cnpjs:
    flag = True
    i = 1 
    try:
        resultado[cnpj] = result = pd.read_sql(sql.format(cnpj), cnx)
        print(cnpj, ' -> ', len(result))
        flag = False
    except:
        txt_puro.add(cnpj)
        i+=1
        pass

21119281000123  ->  0
19211781000191  ->  0
01978934000165  ->  10
82614795000110  ->  0
30866312000143  ->  0
06337280000457  ->  0
76102839000100  ->  0
10363237000190  ->  0
80391956000109  ->  1
05885677000178  ->  0
82601345000246  ->  0
15142831000175  ->  0
02147467000194  ->  1
03260359000196  ->  5
09512705000162  ->  0
00220359000174  ->  0
85486728000128  ->  0
17322957000157  ->  4
07813191000150  ->  0
04286427000159  ->  0
06137625000186  ->  0
02440194000171  ->  0
80331358000306  ->  0
02584707000118  ->  0
15659566000105  ->  0
24824311000186  ->  0
14069148000197  ->  5
76492131000103  ->  1
16988547000187  ->  0
01409892000141  ->  0
03884666000148  ->  0
01956679000150  ->  1
08765099000124  ->  0
28720533000167  ->  0
82056185000110  ->  8
85128981000100  ->  1
01674524000120  ->  16
 -  73282196000128 TENTATIVA - 1
 -  13236873000140 TENTATIVA - 1
 -  13549636000139 TENTATIVA - 1
 -  24824259000115 TENTATIVA - 1
 -  17096579000130 TENTATIVA - 1
 -  21118268000100 TENTATIVA - 1
 -  00325400000177 TENTATIVA - 1
 -  02178116000140 TENTATIVA - 1
 -  00477761000139 TENTATIVA - 1
 -  00130132000138 TENTATIVA - 1
 -  85203602000107 TENTATIVA - 1
 -  86530318000108 TENTATIVA - 1
 -  Ê TENTATIVA - 1
 -  03750888000178 TENTATIVA - 1
 -  02936443000114 TENTATIVA - 1
 -  09035359000179 TENTATIVA - 1
 -  81864563000120 TENTATIVA - 1
 -  85244952000103 TENTATIVA - 1
 -  8803452000113 TENTATIVA - 1
 -  02811281000198 TENTATIVA - 1
04313814000137  ->  4
07985980000178  ->  4
04845059000131  ->  4
01490997000178  ->  4
01586212000165  ->  4
85147627000122  ->  10
08266046000169  ->  8
06101244000147  ->  9
74020041000186  ->  12
80481146000135  ->  10
79683330000189  ->  6
10800802000130  ->  4
13408823000100  ->  2
10779632000159  ->  4
00588446000189  ->  2
09134437000192  ->  11
00993068000119  ->  1
05745387000129  ->  9
05036544000127  ->  19
01408635000195  ->  2
04580018000160  ->  3
83057968000181  ->  7
06935509000102  ->  6
05346462000189  ->  3
00715583000137  ->  7
02396670000102  ->  4
01442702000198  ->  11
04544783000125  ->  5
75304766000169  ->  4
75290619000187  ->  5
82640558000104  ->  13
82641325000118  ->  6
82901000000127  ->  5
73379356000151  ->  12
01442702000198  ->  11
80742109000133  ->  3
05783903000100  ->  6
83109579000152  ->  5
85150613000168  ->  4
05082188000188  ->  10
83875120000160  ->  3
80448574000166  ->  9
78855186000158  ->  1
78644424000186  ->  10
05908583000177  ->  8
83055632000180  ->  9
05140658000112  ->  3
03768748000127  ->  2
06079036000199  ->  5
08934728000100  ->  2
07097396000186  ->  7
86046562000191  ->  4
04683673000144  ->  2
10619295000132  ->  4
86046612000130  ->  4
 -  06001539000141 TENTATIVA - 1
 -  81872236000110 TENTATIVA - 1
80438542000180  ->  1
07756543000182  ->  4
80456817000108  ->  5
 -  82134073000130 TENTATIVA - 1
 -  05108435000178 TENTATIVA - 1
 -  02535948000177 TENTATIVA - 1
 -  73702771000102 TENTATIVA - 1
 -  82951435000186 TENTATIVA - 1
 -  84431154000128 TENTATIVA - 1
 -  04906823000131 TENTATIVA - 1
 -  05013478000170 TENTATIVA - 1
85244952000103  ->  6
85778074000106  ->  10
 -  07229006000184 TENTATIVA - 1
 -  04647957000185 TENTATIVA - 1
 -  14985672000108 TENTATIVA - 1
 -  09483391000117 TENTATIVA - 1
 -  07885290000147 TENTATIVA - 1
 -  02355505000102 TENTATIVA - 1
 -  86403128000111 TENTATIVA - 1
 -  09261750000191 TENTATIVA - 1
 -  79386132000153 TENTATIVA - 1
79530408000125  ->  3
15644488000167  ->  26
02279154000190  ->  5
14028218000169  ->  3
17701407000149  ->  3
04470242000108  ->  12
75409201000146  ->  4
75277525000178  ->  4
07598373000155  ->  13
82099029000137  ->  5
85129518000182  ->  5
83038547000103  ->  5
86837366000135  ->  2

16    85486728000128
17    17322957000157
18    07813191000150
19    04286427000159
Name: CNPJ, dtype: object

17322957000157

In [106]:
pd.read_sql(sql.format('17322957000157'), get_connection())

,SConsCnpjCpf,SConsData,SCaminhoArquivo,retLinhaSerasa
0,17322957000157,2018-03-20,SERASA-R2270451.txt,None
1,17322957000157,2018-07-10,SERASA-R2270452.txt,None
2,17322957000157,2019-04-23,SERASA-R2270453.txt,None
3,17322957000157,2020-07-20,None,B49C 017322957000157JC OO0000200 ...