In [1]:
import pandas as pd
import numpy as np 
from datetime import datetime
import re
from DataMiner_VADU.CaptureData import VaduApi, VaduCrawler 
import pymongo

In [5]:
CONNETCION_MONGO = "mongodb+srv://atfUser:mvOX8tCv5Tv4pvJU@atfcluster.t51do.mongodb.net/test"

def get_train_data():
    myclient = pymongo.MongoClient(CONNETCION_MONGO)
    mydb = myclient["atf_score"]
    mycol = mydb['feature-collection']
    cursor = mycol.find({'resultado': {'$ne': -1}, "vadu_info": {"$exists": True}})

    df = pd.DataFrame(list(cursor))
    new_df = df['vadu_info'].apply(lambda x: pd.Series(x))
    new_df[['cnpj','resultado']] = df[['cnpj','resultado']]

    return new_df

In [62]:
df = get_train_data()

In [63]:
def ajusta_nomes(df):
    df['Faturamento'] = df['Faturamento'].replace( { 'de 0 até 81.000':1,
                                                 'de 81.000 até 360.000':2, 
                                                 'de 360.000 até 1.500.000':3,
                                                 'de 1.500.000 até 4.800.000':4,
                                                 'de 4.800.000 até 10.000.000':5,
                                                 'de 10.000.000 até 30.000.000':6, 
                                                 'de 30.000.000 até 100.000.000':7, 
                                                 'de 100.000.000 até 300.000.000':8,
                                                 'de 300.000.000 até 500.000.000':9, 
                                                 'de 500.000.000 até 1.000.000.000':10,
                                                 'acima de 1.000.000.000':11 })
    df['Faturamento'] = df['Faturamento'].fillna(0)
    
    df['Funcionarios'] = df['Funcionarios'].replace( { 'de 0 até 5':1,
                                                   'de 5 até 10':2, 
                                                   'de 10 até 50':3, 
                                                   'de 50 até 100':4,
                                                   'de 100 até 500':5,
                                                   'acima de 500':6})
    df['Funcionarios'] = df['Funcionarios'].fillna(0)
    
    df['UfEndereco'] =df['UfEndereco'].replace({'EX': 1, 'RJ': 2, 'PR': 3, 'SE': 4, 'PA': 5, 
                                'MA': 6, 'CE': 7, 'SC': 8, 'AP': 9, 'DF': 10, 
                                'PE': 11, 'AL': 12, 'RO': 13, 'RS': 14, 'MS': 15, 
                                'SP': 16, 'RN': 17, 'PI': 18, 'MT': 19, 'ES': 20, 
                                'RR': 21, 'AM': 22, 'MG': 23, 'BA': 24, 'GO': 25, 
                                'PB': 26})
    df['UfEndereco'] = df['UfEndereco'].fillna(0)
    
    df['ReceitaNaturezaJuridica'] = df['ReceitaNaturezaJuridica'].replace({'313-1 - Entidade Sindical': 1, 
                       '230-5 - Empresa Individual de Responsabilidade Limitada (de Natureza Empresári': 2, 
                       '221-6 - Empresa Domiciliada no Exterior': 3, '205-4 - Sociedade Anônima Fechada': 4, 
                       '213-5 - Empresário (Individual)': 5, '224-0 - Sociedade Simples Limitada': 6, 
                       '399-9 - Associação Privada': 7, '214-3 - Cooperativa': 8, 
                       '230-5 - Empresa Individual de Responsabilidade Limitada (de Natureza Empresária)': 9, 
                       '212-7 - Sociedade em Conta de Participação': 10, '204-6 - Sociedade Anônima Aberta': 11, 
                       '206-2 - Sociedade Empresária Limitada': 12})
    df['ReceitaNaturezaJuridica'] = df['ReceitaNaturezaJuridica'].fillna(0)
    
    
    df['Porte'] = df['Porte'].replace({'EPP': 1, 'DEMAIS': 2, 'ME': 3})
    df['Porte'] = df['Porte'].fillna(0)
    
    df['ReceitaSituacaoEspecial'] = df['ReceitaSituacaoEspecial'].replace({'RECUPERACAO JUDICIAL': 1, 
                                                                           'LIQUIDACAO EXTRA-JUDICIAL': 2, 
                                                                           'FALIDO': 3})
    df['ReceitaSituacaoEspecial'] = df['ReceitaSituacaoEspecial'].fillna(0)

#     df['OpcaoTributaria'] = df['OpcaoTributaria'].replace({'ISENTO': 1, 'SIMPLES NACIONAL': 2, 
#                                                             'LUCRO REAL': 3, 'LUCRO PRESUMIDO': 4})


    df['ReceitaAtividade'] = df['ReceitaAtividade'].apply(lambda x: float(str(x).split('-')[0]))
    return df

def convert_number(x):
    try:
        return float(x.replace('.','').replace(',','.'))
    except:
        return np.nan

df['ValorProtesto'] = df['ValorProtesto'].apply(convert_number)

In [64]:

df = ajusta_nomes(df)
df['ReceitaAbertura'] = pd.to_datetime(df['ReceitaAbertura']).apply(lambda x: datetime.now().date().year - x.year)
df['ReceitaAbertura'] = df['ReceitaAbertura'].astype(int)

In [65]:
df['ValorProtesto'] = df['ValorProtesto'].fillna(0)

df['TotalProtesto'] = df['TotalProtesto'].replace('?', -1)
df['TotalProtesto'] = df['TotalProtesto'].replace('-', np.nan)
df['TotalProtesto'] = df['TotalProtesto'].fillna(-1)

df['TotalProtesto'] = df['TotalProtesto'].astype(int)

In [69]:
df.describe()

,Faturamento,Funcionarios,Porte,ReceitaAbertura,ReceitaAtividade,ReceitaCapitalSocial,ReceitaNaturezaJuridica,ReceitaSituacaoEspecial,TotalProtesto,UfEndereco,ValorProtesto,resultado
count,1320.000000,1320.000000,1320.000000,1320.000000,1074.000000,1.235000e+03,1320.000000,1320.000000,1320.000000,1320.000000,1.320000e+03,1317.000000
mean,2.085606,1.682576,2.020455,25.812121,26.903706,5.937703e+06,10.639394,0.028788,36.718182,10.134848,1.616894e+06,0.281701
std,2.584923,1.972133,0.598487,13.429890,15.295557,2.379339e+07,2.595317,0.207710,135.595598,5.253974,9.552377e+06,0.449999
min,0.000000,0.000000,1.000000,1.000000,1.410000,0.000000e+00,1.000000,0.000000,-1.000000,0.000000,0.000000e+00,0.000000
25%,0.000000,0.000000,2.000000,16.000000,15.310000,5.000000e+04,9.000000,0.000000,-1.000000,8.000000,0.000000e+00,0.000000
50%,0.000000,0.000000,2.000000,24.000000,22.290000,2.100000e+05,12.000000,0.000000,0.000000,8.000000,0.000000e+00,0.000000
75%,4.000000,3.000000,2.000000,33.000000,31.010000,1.784800e+06,12.000000,0.000000,3.000000,14.000000,3.045771e+04,1.000000
max,11.000000,6.000000,3.000000,104.000000,96.090000,3.500000e+08,12.000000,3.000000,1818.000000,26.000000,2.178505e+08,1.000000

In [43]:
## ADICIONA OS DADOS DO VADU

# df_ = pd.read_csv('./DataMiner_VADU/Base_90%pronta.csv', index_col= 0)

# df = pd.read_excel('Novos Dados.xlsx')
# df['BUSCA'] = df['CNPJ']
# df.loc[df['CNPJ'].isnull(), 'BUSCA'] = df[df['CNPJ'].isnull()]['Razão social']
# df['BUSCA'] = df['BUSCA'].apply(lambda x: re.sub(r'[^\w\s]','',x))
# df = df[['BUSCA','Unnamed: 6']].merge(df_)
# df = df.drop_duplicates().reset_index(drop = True)

# df = df.rename({'Classificação':'result'}, axis='columns')
# df['result'] = df['result'].replace({'Positivo':1, 'Negativo':0})

# df = df.drop(columns = ['Última alteração de etapa'])
# df = df.rename({'Unnamed: 6': 'data_consulta'}, axis = 'columns')

# df['cnpj'] = df['cnpj'].apply(lambda s: re.sub(r'[^\w\s]','',s))
# columns = ['data_consulta', 'Nome', 'UfEndereco',
#        'ReceitaSituacao', 'ReceitaAbertura', 'ReceitaNaturezaJuridica',
#        'ReceitaSituacaoEspecial', 'ReceitaCapitalSocial', 'OpcaoTributaria',
#        'Porte', 'ReceitaAtividade', 'cnpj', 'Faturamento', 'Funcionarios',
#        'TotalProtesto', 'ValorProtesto', 'result']

# df = df[columns].rename({'result': 'resultado'}, axis = 'columns')

# myclient = pymongo.MongoClient("mongodb://localhost:27017")
# mydb = myclient["test"]
# mycol = mydb['feature-collection']

# for i, line in df.iterrows():
#     mycol.update_one(
#         {"cnpj" : line['cnpj']},
#         {"$set": line.to_dict()},
#         upsert=True
#     )

In [44]:
## AJUSTA OS DUPLICADOS

# myclient = pymongo.MongoClient("mongodb://localhost:27017")
# mydb = myclient["test"]
# mycol = mydb['feature-collection']
# cursor = mycol.find({})
# df_all = pd.DataFrame(list(cursor))

# df_all['data_consulta'] = pd.to_datetime(df_all['data_consulta'])

# df_all['total_nuls'] = df_all.apply(lambda x: x.isna().sum(), axis = 1)

# dup_cnpjs = df_all[df_all['cnpj'].duplicated()]['cnpj'].unique()

# ids_drop = set()

# for dup in dup_cnpjs:
#     for i in df_all[df_all['cnpj'] == dup].sort_values(by=['data_consulta', 'total_nuls'], ascending=[False, True]).iloc[1:]['_id']:
#         ids_drop.add(i) 
        
# new_df = df_all[~df_all['_id'].isin(ids_drop)].reset_index(drop = True)

# new_df = new_df.drop(columns='_id')


# class CustomEncoder(json.JSONEncoder):
#     def default(self, obj):
#         if isinstance(obj, np.integer):
#             return int(obj)
#         elif isinstance(obj, np.floating):
#             return float(obj)
#         elif isinstance(obj, np.ndarray):
#             return obj.tolist()
#         if isinstance(obj, datetime):
#             return obj.isoformat()
#         else:
#             return super(CustomEncoder, self).default(obj)
        
# data_dict = new_df.to_dict("records")
# data_dict_1 = json.dumps(data_dict, cls=CustomEncoder)
# data_dict_final  = json.loads(data_dict_1)


# myclient = pymongo.MongoClient("mongodb://localhost:27017")
# mydb = myclient["test"]
# mycol = mydb['feature-collection']
# mycol.insert_many(data_dict_final)

In [104]:
myclient = pymongo.MongoClient("mongodb://localhost:27017")
mydb = myclient["test"]
mycol = mydb['feature-collection']
cursor = mycol.find({})
df_all = pd.DataFrame(list(cursor))