In [1]:
import pandas as pd
import numpy as np
import re
import DataMiner
from DataMiner.Utils import ClearText
import pymongo

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["ATFCredit"]
mycol = mydb["Txt_tables"]

In [4]:
table = mycol.find_one({"cnpj": str('83.109.579/0001-52')})

In [5]:
table.keys()

dict_keys(['_id', 'REGISTRO DE CONSULTAS', 'CINCO ULTIMAS CONSULTAS', 'HISTORICO DE PAGAMENTOS NO MERCADO (VALORES EM R$)', 'PENDENCIAS', 'REFIN', 'PROTESTO', 'ERROR', 'cnpj', 'txt_file', 'result'])

In [6]:
pd.DataFrame(table['HISTORICO DE PAGAMENTOS NO MERCADO (VALORES EM R$)'])

,MES/ANO,PONTUAL_QTD,PONTUAL_%,8-15_QTD,8-15_%,16-30_QTD,16-30_%,31-60_QTD,31-60_%,+60_QTD,+60_%,A_VISTA_QTD,A_VISTA_%,TOTAL
0,AGO/18,69463.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69463.0
1,JUL/18,249412.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,249412.0
2,JUN/18,316116.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,316121.0
3,MAI/18,297089.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,297101.0
4,ABR/18,381179.0,100.0,0.0,0.0,440.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,381619.0
5,MAR/18,229399.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,229399.0
6,FEV/18,92083.0,100.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92095.0
7,JAN/18,78334.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,228.0,78562.0
8,DEZ/17,82230.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82230.0
9,NOV/17,142147.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,142147.0
10,OUT/17,129508.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,129508.0
11,SET/17,133715.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79.0,133794.0
12,AGO/17,268967.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,837.0,269804.0
13,JUL/17,145904.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2237.0,148141.0
14,TOTAL,2615546.0,12.0,440.0,3398.0,2619396.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,MEDIA,186824.0,100.0,0.0,0.0,31.0,0.0,0.0,0.0,0.0,0.0,242.0,187099.0,0.0

In [10]:
text = ""
with open("TxtPuro/44699346000103.txt") as infile:
    for line in infile:
        text += line

In [23]:
cpnj = text[text.find('CNPJ:'):].split('\n')[0]
cpnj = cpnj.replace('CNPJ:','').strip()
cpnj[:18]

'44.699.346/0001-03'

In [8]:


def check_is_not_line(s):
    regexp = re.compile(r'[a-z,A-Z]')
    if regexp.search(s) and len(re.findall("[0-9]", s)) <= 3:
          return True
    return False

def get_aux_values(aux, name, is_end = False):

#         print(aux)
        aux_i = np.where(aux == name)[0][0]

        aux_f = len(aux) - aux_i

        if not(is_end):
            aux_f = np.where(aux[aux_i:] == 'HISTORICO DE PAGAMENTOS')[0][0]

        aux_ = aux[aux_i:aux_i+aux_f] 
        j = 0
        if check_is_not_line(aux_[1]):
            j = 1
        try:
            return [aux_[1+j].split('|')[1].strip(), aux_[3+j] +' '+ aux_[4+j]]
    
        except:
            return [aux_[1+j].split('|')[1].strip(), np.nan]
    

def _capture_information(text):
    
    aux = re.split('  +',text)
    aux= np.array([i.replace('R451','') for i in aux])
#     print(aux)
    
    return {'MES/ANO':aux[4], 
            'PONTUAL_QTD':get_aux_values(aux, 'PONTUAL')[0],
            'PONTUAL_%': get_aux_values(aux, 'PONTUAL')[1],
            '8-15_QTD':get_aux_values(aux, '8-15')[0],
            '8-15_%':get_aux_values(aux, '8-15')[1],
            '16-30_QTD':get_aux_values(aux, '16-30')[0],
            '16-30_%':get_aux_values(aux, '16-30')[1],
            '31-60_QTD':get_aux_values(aux, '31-60')[0],
            '31-60_%':get_aux_values(aux, '31-60')[1],
            '+60_QTD':get_aux_values(aux, '+60')[0],
            '+60_%':get_aux_values(aux, '+60')[1],
            'A_VISTA_QTD':get_aux_values(aux, 'A VISTA')[0],
            'A_VISTA_%':get_aux_values(aux, 'A VISTA')[1],
            'TOTAL':get_aux_values(aux, 'TOTAL MES', is_end = True)[0]}


def create_df_by_text(text):
    aux_text = text
    index_base = aux_text.find('R451HISTORICO DE PAGAMENTOS NO MERCADO (VALORES EM R$)')
    aux_text = aux_text[index_base:]

    aux_text = aux_text[aux_text.find('R452')+4:]
    aux_text = aux_text[aux_text.find('R452')+4:]

    lines = []

    while True:

        index_base = aux_text.find('R451')
        
        if index_base <= 0:
            break
            

        index_aux = aux_text[index_base+4:].find("R451TOTAL MES") + index_base
        index_aux = aux_text[index_aux:].find('HISTORICO DE PAGAMENTOS') + index_aux       
        
        aux_line = aux_text[index_base+4:index_aux]

        aux_text = aux_text[index_aux:].strip()

        if len(aux_line) <= 1:
            break
            
        
        try:
            new_line = _capture_information(aux_line)
            if 'TOTAL' in new_line['MES/ANO']:
                break
            lines.append(new_line)
        except:
            continue


    df = pd.DataFrame(lines)
    df.loc[:,'PONTUAL_QTD':] = df.loc[:,'PONTUAL_QTD':].apply(ClearText.convert_text_to_float, axis = 0 )
    return df

In [9]:
create_df_by_text(text)

,MES/ANO,PONTUAL_QTD,PONTUAL_%,8-15_QTD,8-15_%,16-30_QTD,16-30_%,31-60_QTD,31-60_%,+60_QTD,+60_%,A_VISTA_QTD,A_VISTA_%,TOTAL
0,JAN/20,200000,95,NaN,NaN,NaN,NaN,9000,3,NaN,NaN,33000,NaN,300000
1,DEZ/19,400000,95,5500,1,NaN,NaN,NaN,NaN,9500,1,100000,NaN,600000
2,NOV/19,500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9000,1,100000,NaN,700000
3,OUT/19,800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000,NaN,1e+06
4,SET/19,200000,93,15000,5,NaN,NaN,NaN,NaN,250000,0.1,300000,NaN,500000
5,AGO/19,300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,700000,0.1,70000,NaN,400000
6,JUL/19,400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200000,NaN,700000
7,JUN/19,400000,NaN,3000,0.4,NaN,NaN,700000,0.1,NaN,NaN,100000,NaN,600000
8,MAI/19,500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,400000,NaN,1e+06
9,ABR/19,200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,400000,NaN,700000
10,MAR/19,200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000,NaN,300000
11,FEV/19,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500000,NaN,700000
12,JAN/19,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200000,NaN,400000
13,DEZ/18,23000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000,NaN,200000

In [18]:
aux_text = text
index_base = aux_text.find('R451HISTORICO DE PAGAMENTOS NO MERCADO (VALORES EM R$)')
aux_text = aux_text[index_base:]
# print(aux_text)
aux_text = aux_text[aux_text.find('R452')+4:]
aux_text = aux_text[aux_text.find('R452')+4:]



lines = []

In [34]:
aux_index_aux = aux_text[index_aux:].find('HISTORICO DE PAGAMENTOS')

133

In [37]:

index_base = aux_text.find('R451')
print(index_base)
index_aux = aux_text[index_base+4:].find("R451TOTAL MES") + index_base
index_aux = aux_text[index_aux:].find('HISTORICO DE PAGAMENTOS') + index_aux

aux_line = aux_text[index_base+4:index_aux]

aux_line

115

'                                                                                      0080                     R452IDV07 00  HISTORICO DE PAGAMENTOS                                                                              R451DEZ/19                                                                                0081                     R452IDV07 00  HISTORICO DE PAGAMENTOS                                                                              R451PONTUAL       C14 |400 MIL A 500 MIL      |   95,00% A  97,00%      |                 0082                     R452IDV07 00  HISTORICO DE PAGAMENTOS                                                                              R4518-15          B9  |5,5 MIL A 6 MIL        |    1,00% A   3,00%      |                 0083                     R452IDV07 00  HISTORICO DE PAGAMENTOS                                                                              R45116-30             | -                     |      -         -        |                 0084                     R452IDV07 00  HISTORICO DE PAGAMENTOS                                                                              R45131-60             | -                     |      -         -        |                 0085                     R452IDV07 00  HISTORICO DE PAGAMENTOS                                                                              R451+60           B17 |9,5 MIL A 10 MIL       |    1,00% A   3,00%      |                 0086                     R452IDV07 00  HISTORICO DE PAGAMENTOS                                                                              R451A VISTA       C11 |100 MIL A 200 MIL      |      -         -        |                 0087                     R452IDV07 00  HISTORICO DE PAGAMENTOS                                                                              R451TOTAL MES     C16 |600 MIL A 700 MIL      |                         |                 0088                     R452IDV07 00  '

In [27]:
get_aux_values(aux, 'TOTAL MES', is_end = True)[0]

['' '0089' 'R452IDV07 00' 'HISTORICO DE PAGAMENTOS' 'NOV/19' '0090'
 'R452IDV07 00' 'HISTORICO DE PAGAMENTOS' 'PONTUAL'
 'C15 |500 MIL A 600 MIL' '|' '97,00% A 100,00%' '|' '0091' 'R452IDV07 00'
 'HISTORICO DE PAGAMENTOS' '8-15' '| -' '|' '-' '-' '|' '0092'
 'R452IDV07 00' 'HISTORICO DE PAGAMENTOS' '16-30' '| -' '|' '-' '-' '|'
 '0093' 'R452IDV07 00' 'HISTORICO DE PAGAMENTOS' '31-60' '| -' '|' '-' '-'
 '|' '0094' 'R452IDV07 00' 'HISTORICO DE PAGAMENTOS' '+60'
 'B16 |9 MIL A 9,5 MIL' '|' '1,00% A' '3,00%' '|' '0095' 'R452IDV07 00'
 'HISTORICO DE PAGAMENTOS' 'A VISTA' 'C11 |100 MIL A 200 MIL' '|' '-' '-'
 '|' '0096' 'R452IDV07 00' 'HISTORICO DE PAGAMENTOS' 'TOTAL MES'
 'C17 |700 MIL A 800 MIL' '|' '|' '0097' '']

'700 MIL A 800 MIL'

In [398]:

_capture_information(aux_line)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [333]:
aux_8_15

array(['8-15', 'B9', '|5,5 MIL A 6 MIL', '|', '1,00% A', '3,00%', '|',
       '0083', 'R452IDV07 00'], dtype='<U23')

In [316]:
import re
word = 'fubar'

def check_is_not_line(s):
    regexp = re.compile(r'[a-z,A-Z]')
    if regexp.search(s) and len(re.findall("[0-9]", s)) <= 3:
          return True
    return False

8

{'MES/ANO': 'SET/19',
 'PONTUAL_QTD': '200 MIL A 300 MIL',
 'PONTUAL_%': '93,00% A 95,00%',
 '8-15_QTD': '15 MIL A 17 MIL',
 '8-15_%': '5,00% A 7,00%',
 '16-30_QTD': ' -',
 '16-30_%': '- -',
 '31-60_QTD': ' -',
 '31-60_%': '- -',
 '+60_QTD': '250 A 300',
 '+60_%': '0,10% A 0,20%',
 'A_VISTA_QTD': '300 MIL A 400 MIL',
 'A_VISTA_%': '- -',
 'TOTAL': '500 MIL A 600 MIL'}

In [86]:
print(aux)

['', '0089', 'R452IDV07 00', 'HISTORICO DE PAGAMENTOS', 'NOV/19', '0090', 'R452IDV07 00', 'HISTORICO DE PAGAMENTOS', 'PONTUAL', 'C15 |500 MIL A 600 MIL', '|', '97,00% A 100,00%', '|', '0091', 'R452IDV07 00', 'HISTORICO DE PAGAMENTOS', '8-15', '| -', '|', '-', '-', '|', '0092', 'R452IDV07 00', 'HISTORICO DE PAGAMENTOS', '16-30', '| -', '|', '-', '-', '|', '0093', 'R452IDV07 00', 'HISTORICO DE PAGAMENTOS', '31-60', '| -', '|', '-', '-', '|', '0094', 'R452IDV07 00', 'HISTORICO DE PAGAMENTOS', '+60', 'B16 |9 MIL A 9,5 MIL', '|', '1,00% A', '3,00%', '|', '0095', 'R452IDV07 00', 'HISTORICO DE PAGAMENTOS', 'A VISTA', 'C11 |100 MIL A 200 MIL', '|', '-', '-', '|', '0096', 'R452IDV07 00', 'HISTORICO DE PAGAMENTOS', 'TOTAL MES', 'C17 |700 MIL A 800 MIL', '|', '|', '0097', '']

In [59]:
index_aux

0

In [314]:
aux_text =  re.split('  +',aux_line)
aux_text

['20/09/2017 EXECUCAO',
 'R$',
 '3137.345',
 '00',
 '11',
 'SAO PAULO',
 'SP',
 '0679',
 '']

In [224]:
DATA
NATUREZA
AVAL
VALOR
DIST
VARA
CIDADE
UF
    
    aux_text = re.split('  +',text)
    
    
    j = 0
    aval = np.nan
    if len(aux_text) >= 10:
        j = 1
        aval = aux_text[1]

    return {'DATA':aux_text[0].split(' ')[0],\
                'NATUREZA':aux_text[0].split(' ')[1],\
                'AVAL':aval,\
               'VALOR':aux_text[2+j],\
               'DIST':aux_text[3+j],\
           'VARA':aux_text[4+j],\
           'CIDADE':aux_text[5+j],\
           'UF':aux_text[6+j],\}

'166.829 BDP0163230071190 BANRISUL                    0639                     T999000STRING PARCIAL - HA MAIS REGISTROS A ENVIAR                                                                \x03B49C      044699346000103JC     OO0000200            N99SCONAN                            SS   00000000000N        000000000000000          10000000000000000000000000100323195200000000000000000  202001271450542008009900001962B4CB49C030407C8A                                                000000000000000000000000000000003                                                                              R452ADV11 00 AIPZ0I038423414904469934                                                                              R45103/04/2018 EMPRESTIMO    N'

In [ ]:
{'DATA':text.split(' ')[0],\
            'MODALIDADE':text.split('  ')[0][11:], \
            'AVAL':text.split('  ')[1].split('R$')[0].strip(), \
            'VALOR': text.split('R$')[1].strip().split(' ')[0],
           'CONTRATO':text.split('R$')[1].strip().split(' ')[1],
           'ORIGEM':text.split('R$')[1].strip().split(' ')[2]}

In [ ]:
{'DATA':date,\
            'MODALIDADE':vencido, \
            'AVAL':vencer, \
            'VALOR': total,
           'CONTRATO': 
           'ORIGEM':}

In [84]:
aux_text

'ACF11 00  PENDENCIAS FINANCEIRAS                                                                               R45104/05/2018 OUTRAS OPER   N R$    232.821 BBH0210003934908 BANRISUL                    0638                     R452ADV11 00 AIPZ0I038995808004469934                                                                              R45123/04/2018 OUTRAS OPER   N R$    166.829 BDP0163230071190 BANRISUL                    0639                     T999000STRING PARCIAL - HA MAIS REGISTROS A ENVIAR                                                                \x03B49C      044699346000103JC     OO0000200            N99SCONAN                            SS   00000000000N        000000000000000          10000000000000000000000000100323195200000000000000000  202001271450542008009900001962B4CB49C030407C8A                                                000000000000000000000000000000003                                                                              R452ADV11 00 AIPZ0I038423414904469934                                                                              R45103/04/2018 EMPRESTIMO    N R$  5.516.450 FH0086114/3      FIBRA                       0640                     R452ADV11 00 AIPZ0I036148215704469934                                                                              R45116/02/2018 OUTRAS OPER   N R$     74.076 BBH0210004511668 BANRISUL                    0641                     R452ADV11 00 AIPZ0I034738391104469934                                                                              R45110/02/2018 EMPRESTIMO    N R$    315.640 FH0086114/2      FIBRA                       0642                     R452ADV11 00 AIPZ0I032760539604469934                                                                              R451                                                                                      0643                     R452ACF12 00  ANOTACOES NEGATIVAS                                                                                  R451INFORMACOES DO CONCENTRE (VALORES EM REAIS)                                           0644                     R452ACB12 00  ANOTACOES NEGATIVAS                                                                                  R451EXISTEM MAIS DE 4 VARIACOES DE GRAFIAS PARA O DOCUMENTO CONSULTADO.( 44.699.346)      0645                     R452ADV12 00  ANOTACOES NEGATIVAS                                                                                  R451ARTECOLA INDUSTRIAS QUIMICAS LTDA                                                     0646                     R452ADV12 00  ANOTACOES NEGATIVAS                                                                                  R451ARTECOLA QUIMICA S/A                                                                  0647                     R452ADV12 00  ANOTACOES NEGATIVAS                                                                                  R451ARTECOLA QUIMICAS S/A                                                                 0648                     R452ADV12 00  ANOTACOES NEGATIVAS                                                                                  R451ARTECOLA QUIMICA SA EM RECUPERACAO JUDICIAL                                           0649                     R452ADV12 00  ANOTACOES NEGATIVAS                                                                                  R451OUTRAS                                                                                0650                     R452ADV12 00  ANOTACOES NEGATIVAS                                                                                  R451RESUMO                                                                                0651                     R452ACB12 00  ANOTACOES NEGATIVAS                                                                                  R451QTDE  DISCRIMINACAO              PERIODO     OCORRENCIA MAIS RECENTE                  0652                     R452ACF12 00  ANOTACOES NEGATIVAS                                                                                  R451                                             VALOR          ORIGEM     AG/PRACA       0653                     R452ACF12 00  ANOTACOES NEGATIVAS                                                                                  R451   12 DIVIDA VENCIDA             AGO17-MAR18 R$         208 TML LOGISTICA             0654                     R452ADV12 00  ANOTACOES NEGATIVAS                                                                                  R451    2 FALEN/RECUP/CONC           FEV18-OUT19                NOVO HAMBURGO  NHO        0655                     R452ADV12 00  ANOTACOES NEGATIVAS                                                                                  R451    2 ACAO JUDICIAL              AGO17-SET17 R$    3137.345 SAO PAULO      SPO        0656                     R452ADV12 00  ANOTACOES NEGATIVAS                                                                                  R451  302 PROTESTO                   MAR17-MAI19 R$         130 SAO PAULO      SPO        0657                     R452ADV12 00  ANOTACOES NEGATIVAS                                                                                  R451                                                                                      0658                     R452ACF12 00  ANOTACOES NEGATIVAS                                                                                  R451OCORRENCIAS MAIS RECENTES (ATE 05)                                                    0659                     R452ACB12 00  ANOTACOES NEGATIVAS                                                                                  R451                                                                                      0660                     R452ACF12 00  ANOTACOES NEGATIVAS                                                                                  R451DIVIDA VENCIDA                                                                        0661                     R452ACB12 00  ANOTACOES NEGATIVAS                                                                                  R451DATA       MODALIDADE               VALOR TITULO          INST.COBRADORA  LOCAL       0662                     R452ACF12 00  ANOTACOES NEGATIVAS                                                                                  R45121/03/2018 DEV             R$         208 10900001554     TML LOGISTICA               0663                     R452ADV12 00 AIPZ05035149504104469934                                                                              R45127/02/2018 DEV             R$       3.801 10900001245     TXS TRANSPORTES             0664                     R452ADV12 00 AIPZ05033586306204469934                                                                              R45123/02/2018 DEV             R$         472 10900020551     NSF BRASIL PRES             0665                     R452ADV12 00 AIPZ05034462083604469934                                                                              R45121/02/2018 DEV             R$       1.046 15720882355     ITS TECNOLOGIA              0666                     R452ADV12 00 AIPZ05034107366004469934                                                                              R45120/02/2018 DEV             R$         826 10900001182     TXS TRANSPORTES             0667                     R452ADV12 00 AIPZ05033172668904469934                                                                              R451TOTAL DE OCORRENCIAS =    12                                                          0668                     R452AFV12 00  ANOTACOES NEGATIVAS                                                                                  R451VALOR TOTAL =         11.712                                                          0669                     R452AFV12 00  ANOTACOES NEGATIVAS                                                                                  R451                                                                                      0670                     R452ACF12 00  ANOTACOES NEGATIVAS                                                                                  R451FALENCIA,RECUPERACAO JUDICIAL/EXTRAJUDICIAL E CONCORDATA                              0671                     R452ACB12 00  ANOTACOES NEGATIVAS                                                                                  R451DATA         TIPO                            ORIGEM          CIDADE          UF       0672                     R452ACF12 00  ANOTACOES NEGATIVAS                                                                                  R45102/10/2019   RECUPERAC JUDIC CONC             VARA01         NOVO HAMBURGO   RS       0673                     R452ADV12 00  IPZ0E000082434104469934                                                                              R45105/02/2018   RECUPERAC JUDIC REQ              VARA01         NOVO HAMBURGO   RS       0674                     R452ADV12 00  IPZ0E000080719004469934                                                                              R451TOTAL DE OCORRENCIAS =     2                                                          0675                     R452AFV12 00  ANOTACOES NEGATIVAS                                                                                  R451                                                                                      0676                     R452ACV12 00  ANOTACOES NEGATIVAS                                                                                  R451ACAO JUDICIAL                                                                         0677                     R452ACB12 00  ANOTACOES NEGATIVAS                                                                                  R451DATA       NATUREZA            AVAL          VALOR DIST VARA CIDADE         UF        0678                     R452ACF12 00  ANOTACOES NEGATIVAS                                                                                  R45120/09/2017 EXECUCAO                 R$    3137.345  00   11  SAO PAULO       SP       0679                     R452ADV12 00  IPZ0C002092536904469934                                                                              R45103/08/2017 EXECUCAO              S  R$    1981.357  00   02  SAO PAULO       SP       0680                     R452ADV12 00  IPZ0C002069922604469934                                                                              R451TOTAL DE OCORRENCIAS =     2                                                          0681                     R452AFV12 00  ANOTACOES NEGATIVAS                                                                                  R451VALOR TOTAL =      5.118.703                                                          0682                     R452AFV12 00  ANOTACOES NEGATIVAS                                                                                  R451                                                                                      0683                     R452ACF12 00  ANOTACOES NEGATIVAS                                                                                  R451PROTESTO                                                                              0684                     R452ACB12 00  ANOTACOES NEGATIVAS                                                                                  R451DATA                      VALOR CARTORIO CIDADE                            UF         0685                     R452ACF12 00  ANOTACOES NEGATIVAS                                                                                  R45109/05/2019    R$            130    04    SAO PAULO                         SP         0686                     R452ADV12 00  IPZ0A028394618804469934                                                                              R45122/08/2018    R$         80.813    02    TATUI                             SP         0687                     R452ADV12 00  IPZ0A027147313104469934                                                                              R45123/05/2018    R$        101.950    02    DIADEMA                           SP         0688                     T999000STRING PARCIAL - HA MAIS REGISTROS A ENVIAR                                                                \x03B49C      044699346000103JC     OO0000200            N99SFIMAN                            SS   00000000000N        000000000000000          10000000000000000000000000100323195200000000000000000  202001271450542008002800001989                                                                000000000000000000000000000000003                                                                              R452ADV12 00  IPZ0A026751383704469934                                                                              R45123/05/2018    R$        154.949    02    TATUI                             SP         0689                     R452ADV12 00  IPZ0A026687915704469934                                                                              R45121/03/2018    R$        110.654    02    TATUI                             SP         0690                     R452ADV12 00  IPZ0A026473992504469934                                                                              R451TOTAL DE OCORRENCIAS =   302                                                          0691                     R452AFV12 00  ANOTACOES NEGATIVAS                                                                                  R451VALOR TOTAL =     20.611.341                                                          0692                     R452AFV12 00  ANOTACOES NEGATIVAS                                                                                  R451                                                                                      0693                     R452ACF13 00  CHEQUES EXTRAVIADOS / S                                                                              R451INFORMACOES DO RECHEQUE (CHEQUES EXTRAVIADOS/SUSTADOS)                                0694                     R452ACB13 00  CHEQUES EXTRAVIADOS / S                                                                              R451=== NADA CONSTA PARA O CNPJ CONSULTADO ===                                            0695                     R452ACF13 00  CHEQUES EXTRAVIADOS / S                                                                              R451                                                                                      0696                     R452PDB99 00  RELATO                                                                                               R451_______________________________________________________________________________       0697                     R452PDB99 00  RELATO                                                                                               R451ESTE RELATORIO E ESTRITAMENTE CONFIDENCIAL E DESTINADO  A  APOIAR  DECISOES  DE       0698                     R452PDB99 00  RELATO                                                                                               R451CREDITO E NEGOCIOS. E PROIBIDA A REPRODUCAO, TOTAL OU PARCIAL,  BEM   COMO  SUA       0699                     R452PDB99 00  RELATO                                                                                               R451DIVULGACAO A TERCEIROS, POR QUALQUER  FORMA.  A  DECISAO  DE  CONCEDER  OU  NAO       0700                     R452PDB99 00  RELATO                                                                                               R451CREDITO E DE INTEIRA RESPONSABILIDADE  DA  EMPRESA  CONCEDENTE.                       0701                     R452PDB99 00  RELATO                                                                                               T999000PROCESSO ENCERRADO NORMALMENTE                                                                             \x03'

          DATA   MODALIDADE AVAL    VALOR          CONTRATO    ORIGEM
0   04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
1   04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
2   04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
3   04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
4   04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
5   04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
6   04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
7   04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
8   04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
9   04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
10  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
11  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
12  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
13  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
14  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
15  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
16  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
17  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
18  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
19  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
20  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
21  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
22  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
23  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
24  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
25  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
26  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
27  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
28  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
29  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
30  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
31  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
32  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
33  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
34  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
35  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
36  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
37  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
38  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
39  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
40  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
41  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL
42  04/05/2018  OUTRAS OPER    N  232.821  BBH0210003934908  BANRISUL

In [91]:
aux_text = aux
date = aux_text[4:9]

index_base = aux_text.find("|")
index_aux = aux_text[index_base+1:].find("|")
vencido = aux_text[index_base:index_base+index_aux]
vencido = vencido.replace('|', '').strip()

aux_text = aux_text[index_base+index_aux+6:]
index_aux = aux_text.find("|")
vencer = aux_text[:index_aux].strip()

In [92]:
aux_text

'5 MI A 5,5 MI       |D10|8,5 MI A 9 MI              0565                 '

'8,5 MI A 9 M'

In [4]:
def capture_information(line):
    list_factoring_names = ['RNX', 'OPINIAO S/A', 'FIDC']
    line = line.replace('R302','')

    date = pd.to_datetime(line[:8], format = "%Y%m%d")
    name = line[8:-15]
    
    factoring_bool = False
    for factoring_name in list_factoring_names:
        if factoring_name in name:
            factoring_bool = True
            break
    
    return {'date':date,\
            'name':name, \
            'is_factoring':factoring_bool}

In [5]:
def create_df_by_lines(text):
    aux_text = text
    lines = []

    while True:
        index_base = aux_text.find('R252')

        if index_base <= 0:
            break

        index_aux = aux_text[index_base:].find('                          ')

        aux_line = aux_text[index_base:index_base+index_aux]
        aux_text = aux_text[index_base+index_aux:]
        
        lines.append(aux_line)
        
    return lines

In [6]:
aux_text = text
index_base = aux_text.find('R252')

In [8]:
index_base
aux = aux_text[index_base:]

a_vista = aux[21:41].strip()

In [9]:
df = create_df_by_lines(text)

In [10]:
df

['R252PONTUAL       A5 15 A 20             000000000000015000000000000020049000510020201219',
 'R2528-15          A1 1 A 3               000000000000001000000000000003001000030020201219',
 'R25216-30         A2 3 A 5               000000000000003000000000000005009000110020201219',
 'R25231-60         A3 5 A 10              000000000000005000000000000010021000230020201219',
 'R252+60           A3 5 A 10              000000000000005000000000000010013000150020201219',
 'R252A VISTA       A1 1 A 3               000000000000001000000000000003000000000020201219']