In [1]:
from os import error
import pymongo
import pandas as pd
import json
from hyperactive import Hyperactive
from hyperactive import SimulatedAnnealingOptimizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import tempfile
import boto3
import joblib
import botocore
import os

CONNETCION_MONGO = "mongodb+srv://atfUser:mvOX8tCv5Tv4pvJU@atfcluster.t51do.mongodb.net/test"
AWS_ACCESS_KEY = "AKIAVTWL6PT5PMSLZ6KP"
AWS_SECRET_KEY = "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"

    
s3 = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY)
bucket_name = 'lambda-atf-sthima'
location = 'models/'

In [36]:

def get_last_version(model_type = 'modelo1'):
    
    try:
        versions = set()
        my_bucket = s3.Bucket(bucket_name)

        for file in my_bucket.objects.all():
            if model_type in file.key and file.key.split('/')[2] != '':
                versions.add(int(file.key.split('/')[2].split('.')[1]))

        return np.max(list(versions))
    except:
        return 0

In [57]:
a = get_last_version('modelo3')

In [58]:
a

1

In [49]:
import pymongo
import pandas as pd
CONNETCION_MONGO = "mongodb+srv://atfUser:mvOX8tCv5Tv4pvJU@atfcluster.t51do.mongodb.net/test"
myclient = pymongo.MongoClient(CONNETCION_MONGO)
mydb = myclient["atf_score"]
mycol = mydb['models-collection']

In [59]:
def get_model_version_used(model_name):
    myclient = pymongo.MongoClient(CONNETCION_MONGO)
    mydb = myclient["atf_score"]
    mycol = mydb['models-collection']
    cursor = mycol.find({'used':True, 'model_name':model_name})
    df = pd.DataFrame(list(cursor))
    return df['model_version'].iloc[0]

In [61]:
def _download_model(model_name):
    s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY)
    BUCKET_NAME = 'lambda-atf-sthima' 
    KEY = 'models/'+model_name
    with tempfile.TemporaryFile() as fp:
        s3.download_fileobj(Fileobj=fp, Bucket=BUCKET_NAME, Key=KEY)
        fp.seek(0)

        model = joblib.load(fp)

    return model

In [63]:
_download_model("modelo3/modelo_3."+str(1)+".sav")

RandomForestClassifier(max_depth=3, min_samples_split=10)

In [39]:
def save_model_infos(model_name,accuracy,total_data):

    model_dict = {'model_name': model_name,
                 'used': False,
                 'accuracy': accuracy,
                 'total_data':total_data}

    CONNETCION_MONGO = "mongodb+srv://atfUser:mvOX8tCv5Tv4pvJU@atfcluster.t51do.mongodb.net/test"
    myclient = pymongo.MongoClient(CONNETCION_MONGO)
    mydb = myclient["atf_score"]
    mycol = mydb['models-collection']
    mycol.insert_one(model_dict)

In [40]:
save_model_infos('modelo_3.3.sav',0.75, 1373)

In [ ]:
    CONNETCION_MONGO = "mongodb+srv://atfUser:mvOX8tCv5Tv4pvJU@atfcluster.t51do.mongodb.net/test"
    myclient = pymongo.MongoClient(CONNETCION_MONGO)
    mydb = myclient["atf_score"]
    mycol = mydb['models-collection']
    mycol.find('')

In [127]:
import re
cnpj = '06.233.675/0001-67'
# cnpj = '14280184000103'
cn = re.sub(r'[^\w\s]','',cnpj)
CONNETCION_MONGO = "mongodb+srv://atfUser:mvOX8tCv5Tv4pvJU@atfcluster.t51do.mongodb.net/test"
myclient = pymongo.MongoClient(CONNETCION_MONGO)


mydb = myclient["atf_score"]
mycol = mydb['initial-collection']
cursor = mycol.find({'cnpj':{"$lt": 999999999999999, "$gte": 9999999999999}})
df = pd.DataFrame(list(cursor))

In [128]:
df['new_cnpj'] = df['cnpj'].astype(str)
df['new_cnpj'] = df['new_cnpj'].apply(lambda x: x.split('.')[0])
df['tam_cnpj'] = df['new_cnpj'].apply(lambda x: len(x))

In [113]:

cnpj_13 = df[df['tam_cnpj'] == 13]["new_cnpj"].apply(lambda x: "0"+x)
cnpj_12 = df[df['tam_cnpj'] == 12]["new_cnpj"].apply(lambda x: "00"+x)

In [120]:
df.loc[df['tam_cnpj'] == 13, "new_cnpj"] = cnpj_13
df.loc[df['tam_cnpj'] == 12, "new_cnpj"] = cnpj_12

In [126]:
for i, line in df[(df['tam_cnpj'] == 13) | (df['tam_cnpj'] == 12)].iterrows() :
    query = {'cnpj':line['cnpj']}
    key = {"$set":{"cnpj":line['new_cnpj']}}
    mycol.update(query, key)

<ipython-input-126-a3b86c565f45>:4: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  mycol.update(query, key)

In [116]:
df['tam_cnpj'].value_counts()

13    4679
12     459
Name: tam_cnpj, dtype: int64

In [110]:
len("99999999999")

11

In [92]:
len("804102000160")

12

In [91]:
df['cnpj'].iloc[0]

804102000160.0

In [51]:
mycol = mydb['feature-collection']
mycol.update({'cnpj':cn}, {"$unset": {"vadu_info":""}})

<ipython-input-51-130d8cd63f3d>:2: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  mycol.update({'cnpj':cn}, {"$unset": {"vadu_info":""}})

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1626371025, 50), 't': 286},
 'electionId': ObjectId('7fffffff000000000000011e'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1626371025, 50),
  'signature': {'hash': b"\xd0\xaen\x91\r\xe9Zcl\x0b\xf4w'\xc5g\x03\xd7\x9d\xd2\xf7",
   'keyId': 6951464826967162881}},
 'operationTime': Timestamp(1626371025, 50),
 'updatedExisting': True}

In [49]:
9999999999999

'06233675000167'

In [43]:
import requests

requests.get('https://3x2oc0qhg1.execute-api.sa-east-1.amazonaws.com/latest')
requests.get('https://6db5td0khh.execute-api.sa-east-1.amazonaws.com/latest')

In [42]:
cn

'06233675000167'

In [52]:
    cnpj = ['06233675000167']
    def capture_data():
        url = "https://www.vadu.com.br/vadu.dll/ServicoAnaliseOperacao/Consulta/{}"
        api_columns = ['CnpjCpf', 'Nome', 'UfEndereco','ReceitaSituacao','ReceitaAbertura','ReceitaNaturezaJuridica','ReceitaSituacaoEspecial','ReceitaCapitalSocial','Porte','ReceitaAtividade']

        payload={}
        headers = {
        'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJWYWR1IiwidXNyIjoyMTQ3LCJlbWwiOiJtb3RvcnJAYXRmLmNvbS5iciIsImVtcCI6NDMzMjQxMjR9.el5_-O9x8vdlS6H7BohRBU8-sVKXza175AtaFxyn4aU',
        'Cookie': 'VADUSESSIONID=%7BA54437F5-47D0-407D-B833-4C833E773817%7D; _QRW=2043350735'
        }

        result = []
        i = 1

        for c in cnpj:
            
            print(i, '-> ', c)
            i+=1
            try:
                response = requests.request("POST", url.format(c), headers=headers, data=payload)
                if response.status_code  == 200:
                    result.append(json.loads(response.text))
                else:
                    print('X-', c)
            except:
                print('X-', c)

        df_final = pd.DataFrame(result)
        df_final = df_final[api_columns]
        df_final = df_final.rename(columns={'CnpjCpf':'cnpj'})
        return df_final

In [53]:
capture_data()

1 ->  06233675000167

,cnpj,Nome,UfEndereco,ReceitaSituacao,ReceitaAbertura,ReceitaNaturezaJuridica,ReceitaSituacaoEspecial,ReceitaCapitalSocial,Porte,ReceitaAtividade
0,06.233.675/0001-67,CONFORTENIS - INDUSTRIA DE CALCADOS LTDA,SP,INAPTA,2004-04-28T00:00:00.000,206-2 - Sociedade Empresária Limitada,,20000,DEMAIS,None

In [31]:
df_initial['new_cnpj'] = df_initial['cnpj'].astype(str)

In [32]:
df_initial['new_cnpj'] = df_initial['new_cnpj'].apply(lambda x: x.split('.')[0])

In [37]:
df_initial[df_initial['new_cnpj'].str.contains('6233675000167')]['cnpj'].iloc[0]

6233675000167.0

In [56]:
df_initial['tam_cnpj'] = df_initial['new_cnpj'].apply(lambda x: len(x))

In [58]:
df_initial['tam_cnpj'].value_counts()

14    84710
13    55880
12     4986
11      718
10      170
3       113
9        48
8         4
Name: tam_cnpj, dtype: int64

TypeError: can only concatenate list (not "str") to list

In [ ]:
df_initial.apply(lambda x: )

In [65]:
cnpj_13 = df_initial[df_initial['tam_cnpj'] == 13]["new_cnpj"].apply(lambda x: "0"+x)
cnpj_12 = df_initial[df_initial['tam_cnpj'] == 12]["new_cnpj"].apply(lambda x: "00"+x)

,_id,cnpj,txt_type,txt_content,isProcessed,insertDate,new_cnpj,tam_cnpj
0,60d9bc65dbedf8e23921e948,1.877691e+12,PURO,B49C 001877691000179JC OO0000200 ...,True,2021-06-28 09:10:38.026,01877691000179,13
4,60d9bc65dbedf8e23921e94c,6.286939e+12,PURO,B49C 006286939000302JC OO0000200 ...,True,2021-06-28 09:10:38.026,06286939000302,13
6,60d9bc65dbedf8e23921e94e,5.775188e+12,PURO,B49C 005775188000597JC OO0000200 ...,True,2021-06-28 09:10:38.026,05775188000597,13
8,60d9bc65dbedf8e23921e950,2.458527e+12,PURO,B49C 002458527000190JC OO0000200 ...,True,2021-06-28 09:10:38.026,02458527000190,13
10,60d9bc65dbedf8e23921e952,2.158816e+12,PURO,B49C 002158816000254JC OO0000200 ...,True,2021-06-28 09:10:38.026,02158816000254,13
...,...,...,...,...,...,...,...,...
146606,60d9bcb2210c56d0460fd8d5,1.056607e+12,LIMPO,SEGMENTO FACTORINGS\n\nCONFIDENCIAL P/ FACTOR...,False,2021-06-28 09:11:46.136,01056607000156,13
146607,60d9bcb2210c56d0460fd8d6,9.009950e+12,LIMPO,SEGMENTO FACTORINGS\n\nCONFIDENCIAL P/ FRANCI...,False,2021-06-28 09:11:46.137,09009950000151,13
146615,60d9bcb2210c56d0460fd8de,5.756222e+12,LIMPO,SEGMENTO FACTORINGS\n\nCONFIDENCIAL P/ ISABEL...,False,2021-06-28 09:11:46.143,05756222000152,13
146618,60d9bcb2210c56d0460fd8e1,5.600837e+12,LIMPO,CONFIDENCIAL P/ FACTORING ...,False,2021-06-28 09:11:46.145,05600837000195,13
146619,60d9bcb2210c56d0460fd8e2,1.679830e+12,LIMPO,SEGMENTO FACTORINGS\n\nCONFIDENCIAL P/ FRANCI...,False,2021-06-28 09:11:46.146,01679830000150,13

In [71]:
df_initial['tam_cnpj'].value_counts()

14    84710
13    55880
12     4986
11      718
10      170
3       113
9        48
8         4
Name: tam_cnpj, dtype: int64

In [69]:
df_initial[df_initial['tam_cnpj'] == 10]["new_cnpj"]

148       2964898081
227       7279792561
258       5047309916
283       2157251588
382       6392546910
             ...
90754     1392000103
118454    3243000183
128076    3057000144
132225    2891000115
138397    9353000152
Name: new_cnpj, Length: 170, dtype: object

In [ ]:
df_initial[df_initial['tam_cnpj'] == 12]["new_cnpj"]

In [25]:
mydb = myclient["atf_score"]
mycol = mydb['feature-collection']
cursor = mycol.find({})
df_f = pd.DataFrame(list(cursor))

In [26]:
df_f

,_id,cnpj,resultado,serasa_info,classificacao_modelo1,predicao_modelo1,dado_valido,vadu_info,classificacao_modelo3,predicao_modelo3,vadu_dict
0,60dca5d720cf7db6c1129ac4,14280184000103,-1,"{'8_TOTAL_FALENCIA_REQ': nan, '8_TOTAL_FALENCI...",Bom,0.7971,False,"{'Nome': 'EDINHO SUPERMERCADO LTDA', 'Porte': ...",Bom,0.6614,NaN
1,60dca5d720cf7db6c1129ac5,13565641000135,-1,"{'8_TOTAL_FALENCIA_REQ': nan, '8_TOTAL_FALENCI...",Muito Bom,0.8312,False,"{'Nome': 'TORRES E MENEZES COMERCIAL LTDA', 'P...",NaN,NaN,NaN
2,60dca5d720cf7db6c1129ac6,18716040000108,-1,"{'8_TOTAL_FALENCIA_REQ': nan, '8_TOTAL_FALENCI...",Bom,0.7957,False,"{'Nome': 'GRAN-COPA ARMAZENS GERAIS LTDA', 'Po...",NaN,NaN,NaN
3,60dca5d720cf7db6c1129ac7,06286939000140,-1,"{'8_TOTAL_FALENCIA_REQ': nan, '8_TOTAL_FALENCI...",Bom,0.6602,False,{'Nome': 'COMERCIO DE GENEROS ALIMENTICIOS SAO...,NaN,NaN,NaN
4,60dca5d720cf7db6c1129ac8,64435357000185,-1,"{'8_TOTAL_FALENCIA_REQ': nan, '8_TOTAL_FALENCI...",Bom,0.6620,False,"{'Nome': 'ANAIM AUTO PECAS E ACESSORIOS LTDA',...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
62149,60eff93d218a007683d02e24,00014656000,NaN,NaN,NaN,NaN,False,"{'Nome': '***', 'Porte': None, 'ReceitaAbertur...",NaN,NaN,NaN
62150,60eff93e218a007683d02f28,93746824000196,-1,"{'8_TOTAL_FALENCIA_REQ': nan, '8_TOTAL_FALENCI...",NaN,-1.0000,False,"{'Nome': 'AGROPECUARIA SOBRADINHO LTDA', 'Port...",NaN,-1.0000,NaN
62151,60eff93e218a007683d0317a,08207256000186,-1,"{'8_TOTAL_FALENCIA_REQ': nan, '8_TOTAL_FALENCI...",NaN,-1.0000,False,{'Nome': 'H.D.R. COMERCIO DE MOVEIS E ARAMADOS...,NaN,-1.0000,NaN
62152,60eff94c218a007683d0e46b,75733147000190,-1,"{'8_TOTAL_FALENCIA_REQ': nan, '8_TOTAL_FALENCI...",NaN,-1.0000,NaN,NaN,NaN,-1.0000,NaN
62153,60eff94c218a007683d0e603,18547816000103,-1,"{'8_TOTAL_FALENCIA_REQ': nan, '8_TOTAL_FALENCI...",NaN,-1.0000,NaN,NaN,NaN,-1.0000,NaN